# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# ide
.idea/
.vscode/

# DS_Store
.DS_Store

# Other
test.py
do_release.py
.env

# Coverage
.coverage
htmlcov
coverage.xml

# pytest
.pytest_cache
test-report.xml
*.iml

# jupyter
.ipynb_checkpoints

# tox
.tox/
.python-version

# mypy
.dmypy.json

# Local development
scripts/local_client.py
playground.py
scripts/tmp/

# docs
docs/source/generated/
my_file.txt
.venv/
*.env
.envrc
