[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]



[dev-packages]

pylint = "*"
pandas = "*"
requests = "*"
twine = "*"
Sphinx = "*"


[requires]

python_version = "3.6"
