[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
pandas = "*"
requests = "*"
protobuf = "*"
sphinx-rtd-theme = "*"
cognite-logger = ">=0.3,<0.4"
pytest-mock = "*"

[dev-packages]
pytest-cov = "*"
twine = "*"
"yolk3k" = "*"
pytest = "*"
black = "==18.6b4"
strip-hints = "*"
pre-commit = "*"
isort = "*"
tox = "*"
tox-pyenv = "*"

[pipenv]
allow_prereleases = true
