[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

twine = "*"
Sphinx = "*"
"yolk3k" = "*"
pylint = "*"
pandas = "*"
requests = "*"
protobuf = "*"
pytest = "*"


[dev-packages]

pytest-cov = "*"


[requires]

python_version = "3.6"
