{
  "openapi": "3.0.1",
  "info": {
    "title": "Cognite API",
    "description": "This is the reference documentation for the Cognite API. Here you can see an overview of all methods available through the API.",
    "version": "v1 beta",
    "contact": {
      "name": "Cognite Support",
      "url": "https://support.cognite.com",
      "email": "support@cognite.com"
    }
  },
  "servers": [
    {
      "url": "https://api.cognitedata.com"
    }
  ],
  "paths": {
    "/api/v1/projects/{project}/assets": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get assets",
        "description": "Get assets.",
        "operationId": "getAssets",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "required": true,
            "description": "Project name",
            "schema": {
              "type": "string",
              "example": "publicdata"
            }
          },
          {
            "name": "limit",
            "description": "Limits the number of results to be returned. The maximum results returned by the server is 1000 even if the limit specified is larger.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "cursor",
            "description": "Cursor for paging through results",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string",
              "description": "Name of asset. Often referred to as tag.",
              "maxLength": 50
            }
          },
          {
            "in": "query",
            "name": "parentIds",
            "description": "Filter out assets that have one of the ids listed as parent. The parentId is set to null if the asset is a root asset.",
            "example": [
              363848954441724,
              793045462540095,
              1261042166839739
            ],
            "schema": {
              "uniqueItems": true,
              "minItems": 1,
              "maxItems": 100,
              "type": "string",
              "format": "jsonArray(int64)"
            }
          },
          {
            "in": "query",
            "name": "source",
            "schema": {
              "maxLength": 128,
              "type": "string",
              "description": "The source of this asset."
            }
          },
          {
            "in": "query",
            "name": "minDepth",
            "schema": {
              "type": "integer",
              "description": "Minimum depth."
            }
          },
          {
            "in": "query",
            "name": "maxDepth",
            "schema": {
              "type": "integer",
              "description": "Maximum depth."
            }
          },
          {
            "in": "query",
            "name": "minCreatedTime",
            "schema": {
              "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
              "type": "integer",
              "minimum": 0,
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "maxCreatedTime",
            "schema": {
              "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
              "type": "integer",
              "minimum": 0,
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "minLastUpdatedTime",
            "schema": {
              "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
              "type": "integer",
              "minimum": 0,
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "maxLastUpdatedTime",
            "schema": {
              "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
              "type": "integer",
              "minimum": 0,
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "externalIdPrefix",
            "schema": {
              "description": "External Id provided by client. Should be unique within the project.",
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paged response with list of assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "externalId": {
                                "description": "External Id provided by client. Should be unique within the project.",
                                "type": "string",
                                "maxLength": 255
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of asset. Often referred to as tag.",
                                "maxLength": 50
                              },
                              "parentId": {
                                "description": "Javascript friendly internal ID given to the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              },
                              "description": {
                                "type": "string",
                                "description": "Description of asset.",
                                "maxLength": 500
                              },
                              "metadata": {
                                "type": "object",
                                "description": "Custom, application specific metadata. String key -> String value",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "source": {
                                "type": "string",
                                "description": "The source of this asset"
                              }
                            },
                            "description": "Representation of a physical asset, e.g plant or piece of equipment"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "description": "Javascript friendly internal ID given to the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "createdTime": {
                                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "lastUpdatedTime": {
                                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "path": {
                                "type": "array",
                                "description": "IDs of assets on the path to the asset.",
                                "items": {
                                  "type": "integer",
                                  "description": "IDs of assets on the path to the asset.",
                                  "format": "int64"
                                }
                              },
                              "depth": {
                                "type": "integer",
                                "description": "Asset path depth (number of levels below root node).",
                                "format": "int32",
                                "minimum": 0
                              }
                            }
                          }
                        ]
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "description": "Cursor to get the next page of results (if available)."
                    }
                  },
                  "description": "A list of objects along with possible cursors to get the next, or previous, page of results"
                }
              }
            }
          },
          "400": {
            "description": "The response for a failed request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "description": "Cognite API error",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "HTTP status code",
                          "format": "int32",
                          "example": 401
                        },
                        "message": {
                          "type": "string",
                          "description": "Error message",
                          "example": "Could not authenticate."
                        },
                        "missing": {
                          "type": "array",
                          "description": "List of lookup objects that have not matched any results.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "duplicated": {
                          "type": "array",
                          "description": "List of objects that violate the uniqueness constraint.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Create new assets",
        "description": "Create new assets.\n\nIt is possible to post a maximum of 1000 assets per request.\nThe parentId is set to null if the asset is a root asset.",
        "operationId": "createAssets",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "required": true,
            "description": "Project name",
            "schema": {
              "type": "string",
              "example": "publicdata"
            }
          }
        ],
        "requestBody": {
          "description": "List of assets to create. It is possible to post a maximum of 1000 assets per request",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "name"
                          ],
                          "properties": {
                            "externalId": {
                              "description": "External Id provided by client. Should be unique within the project.",
                              "type": "string",
                              "maxLength": 255
                            },
                            "name": {
                              "type": "string",
                              "description": "Name of asset. Often referred to as tag.",
                              "maxLength": 50
                            },
                            "parentId": {
                              "description": "Javascript friendly internal ID given to the object.",
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 9007199254740991,
                              "format": "int64"
                            },
                            "description": {
                              "type": "string",
                              "description": "Description of asset.",
                              "maxLength": 500
                            },
                            "metadata": {
                              "type": "object",
                              "description": "Custom, application specific metadata. String key -> String value",
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "source": {
                              "type": "string",
                              "description": "The source of this asset"
                            }
                          },
                          "description": "Representation of a physical asset, e.g plant or piece of equipment"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "parentExternalId": {
                              "description": "External Id provided by client. Should be unique within the project.",
                              "type": "string",
                              "maxLength": 255
                            }
                          }
                        }
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 1000
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response with list of assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "externalId": {
                                "description": "External Id provided by client. Should be unique within the project.",
                                "type": "string",
                                "maxLength": 255
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of asset. Often referred to as tag.",
                                "maxLength": 50
                              },
                              "parentId": {
                                "description": "Javascript friendly internal ID given to the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              },
                              "description": {
                                "type": "string",
                                "description": "Description of asset.",
                                "maxLength": 500
                              },
                              "metadata": {
                                "type": "object",
                                "description": "Custom, application specific metadata. String key -> String value",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "source": {
                                "type": "string",
                                "description": "The source of this asset"
                              }
                            },
                            "description": "Representation of a physical asset, e.g plant or piece of equipment"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "description": "Javascript friendly internal ID given to the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "createdTime": {
                                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "lastUpdatedTime": {
                                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "path": {
                                "type": "array",
                                "description": "IDs of assets on the path to the asset.",
                                "items": {
                                  "type": "integer",
                                  "description": "IDs of assets on the path to the asset.",
                                  "format": "int64"
                                }
                              },
                              "depth": {
                                "type": "integer",
                                "description": "Asset path depth (number of levels below root node).",
                                "format": "int32",
                                "minimum": 0
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The response for a failed request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "description": "Cognite API error",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "HTTP status code",
                          "format": "int32",
                          "example": 401
                        },
                        "message": {
                          "type": "string",
                          "description": "Error message",
                          "example": "Could not authenticate."
                        },
                        "missing": {
                          "type": "array",
                          "description": "List of lookup objects that have not matched any results.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "duplicated": {
                          "type": "array",
                          "description": "List of objects that violate the uniqueness constraint.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-capability": [
          "AssetsAcl:WRITE"
        ]
      }
    },
    "/api/v1/projects/{project}/assets/{id}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get asset by id",
        "description": "Get an asset identified by its id.",
        "operationId": "getAsset",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "required": true,
            "description": "Project name",
            "schema": {
              "type": "string",
              "example": "publicdata"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Cognite internal id",
            "schema": {
              "description": "Javascript friendly internal ID given to the object.",
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991,
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Single asset response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "name"
                      ],
                      "properties": {
                        "externalId": {
                          "description": "External Id provided by client. Should be unique within the project.",
                          "type": "string",
                          "maxLength": 255
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of asset. Often referred to as tag.",
                          "maxLength": 50
                        },
                        "parentId": {
                          "description": "Javascript friendly internal ID given to the object.",
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991,
                          "format": "int64"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description of asset.",
                          "maxLength": 500
                        },
                        "metadata": {
                          "type": "object",
                          "description": "Custom, application specific metadata. String key -> String value",
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "source": {
                          "type": "string",
                          "description": "The source of this asset"
                        }
                      },
                      "description": "Representation of a physical asset, e.g plant or piece of equipment"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Javascript friendly internal ID given to the object.",
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991,
                          "format": "int64"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "createdTime": {
                          "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                          "type": "integer",
                          "minimum": 0,
                          "format": "int64"
                        },
                        "lastUpdatedTime": {
                          "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                          "type": "integer",
                          "minimum": 0,
                          "format": "int64"
                        },
                        "path": {
                          "type": "array",
                          "description": "IDs of assets on the path to the asset.",
                          "items": {
                            "type": "integer",
                            "description": "IDs of assets on the path to the asset.",
                            "format": "int64"
                          }
                        },
                        "depth": {
                          "type": "integer",
                          "description": "Asset path depth (number of levels below root node).",
                          "format": "int32",
                          "minimum": 0
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The response for a failed request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "description": "Cognite API error",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "HTTP status code",
                          "format": "int32",
                          "example": 401
                        },
                        "message": {
                          "type": "string",
                          "description": "Error message",
                          "example": "Could not authenticate."
                        },
                        "missing": {
                          "type": "array",
                          "description": "List of lookup objects that have not matched any results.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "duplicated": {
                          "type": "array",
                          "description": "List of objects that violate the uniqueness constraint.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{project}/assets/list": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Filter all assets",
        "description": "Retrieve a list of all assets in the same project. This operation supports pagination by cursor. Criteria can be applied to select a subset of events.",
        "operationId": "listAssets",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "required": true,
            "description": "Project name",
            "schema": {
              "type": "string",
              "example": "publicdata"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "description": "Filter on assets with exact match",
                    "type": "object",
                    "properties": {
                      "filter": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Name of asset. Often referred to as tag.",
                            "maxLength": 50
                          },
                          "parentIds": {
                            "type": "array",
                            "items": {
                              "description": "Javascript friendly internal ID given to the object.",
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 9007199254740991,
                              "format": "int64"
                            }
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Custom, application specific metadata. String key -> String value",
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "source": {
                            "type": "string",
                            "description": "The source of this asset"
                          },
                          "createdTime": {
                            "description": "Range between two timestamps",
                            "type": "object",
                            "properties": {
                              "max": {
                                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "min": {
                                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              }
                            }
                          },
                          "lastUpdatedTime": {
                            "description": "Range between two timestamps",
                            "type": "object",
                            "properties": {
                              "max": {
                                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "min": {
                                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              }
                            }
                          },
                          "root": {
                            "type": "boolean",
                            "description": "filtered assets are root assets or not"
                          },
                          "externalIdPrefix": {
                            "description": "External Id provided by client. Should be unique within the project.",
                            "type": "string",
                            "maxLength": 255
                          }
                        }
                      },
                      "limit": {
                        "description": "<- Limits the maximum number of results to be returned by single request. In case there are more results to the request 'nextCursor' attribute will be provided as part of response. Request may contain less results than request limit.",
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "maximum": 1000,
                        "default": 100
                      }
                    }
                  },
                  {
                    "description": "Cursor for paging through results",
                    "type": "object",
                    "properties": {
                      "cursor": {
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paged response with list of assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "externalId": {
                                "description": "External Id provided by client. Should be unique within the project.",
                                "type": "string",
                                "maxLength": 255
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of asset. Often referred to as tag.",
                                "maxLength": 50
                              },
                              "parentId": {
                                "description": "Javascript friendly internal ID given to the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              },
                              "description": {
                                "type": "string",
                                "description": "Description of asset.",
                                "maxLength": 500
                              },
                              "metadata": {
                                "type": "object",
                                "description": "Custom, application specific metadata. String key -> String value",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "source": {
                                "type": "string",
                                "description": "The source of this asset"
                              }
                            },
                            "description": "Representation of a physical asset, e.g plant or piece of equipment"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "description": "Javascript friendly internal ID given to the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "createdTime": {
                                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "lastUpdatedTime": {
                                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "path": {
                                "type": "array",
                                "description": "IDs of assets on the path to the asset.",
                                "items": {
                                  "type": "integer",
                                  "description": "IDs of assets on the path to the asset.",
                                  "format": "int64"
                                }
                              },
                              "depth": {
                                "type": "integer",
                                "description": "Asset path depth (number of levels below root node).",
                                "format": "int32",
                                "minimum": 0
                              }
                            }
                          }
                        ]
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "description": "Cursor to get the next page of results (if available)."
                    }
                  },
                  "description": "A list of objects along with possible cursors to get the next, or previous, page of results"
                }
              }
            }
          }
        },
        "x-capability": [
          "AssetsAcl:READ"
        ]
      }
    },
    "/api/v1/projects/{project}/assets/byids": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Retrieve assets",
        "description": "Retrieves information about multiple assets in the same project.\nA maximum of 1000 assets IDs may be listed per request and all of them must be unique.",
        "operationId": "byIdsAssets",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "required": true,
            "description": "Project name",
            "schema": {
              "type": "string",
              "example": "publicdata"
            }
          }
        ],
        "requestBody": {
          "description": "List of IDs of assets to retrieve. Must be up to a maximum of 1000 events and all of them must be unique.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "description": "Javascript friendly internal ID given to the object.",
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 9007199254740991,
                              "format": "int64"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "externalId": {
                              "description": "External Id provided by client. Should be unique within the project.",
                              "type": "string",
                              "maxLength": 255
                            }
                          }
                        }
                      ]
                    },
                    "maxItems": 1000,
                    "minItems": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response with list of assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "externalId": {
                                "description": "External Id provided by client. Should be unique within the project.",
                                "type": "string",
                                "maxLength": 255
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of asset. Often referred to as tag.",
                                "maxLength": 50
                              },
                              "parentId": {
                                "description": "Javascript friendly internal ID given to the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              },
                              "description": {
                                "type": "string",
                                "description": "Description of asset.",
                                "maxLength": 500
                              },
                              "metadata": {
                                "type": "object",
                                "description": "Custom, application specific metadata. String key -> String value",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "source": {
                                "type": "string",
                                "description": "The source of this asset"
                              }
                            },
                            "description": "Representation of a physical asset, e.g plant or piece of equipment"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "description": "Javascript friendly internal ID given to the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "createdTime": {
                                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "lastUpdatedTime": {
                                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "path": {
                                "type": "array",
                                "description": "IDs of assets on the path to the asset.",
                                "items": {
                                  "type": "integer",
                                  "description": "IDs of assets on the path to the asset.",
                                  "format": "int64"
                                }
                              },
                              "depth": {
                                "type": "integer",
                                "description": "Asset path depth (number of levels below root node).",
                                "format": "int32",
                                "minimum": 0
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The response for a failed request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "description": "Cognite API error",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "HTTP status code",
                          "format": "int32",
                          "example": 401
                        },
                        "message": {
                          "type": "string",
                          "description": "Error message",
                          "example": "Could not authenticate."
                        },
                        "missing": {
                          "type": "array",
                          "description": "List of lookup objects that have not matched any results.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "duplicated": {
                          "type": "array",
                          "description": "List of objects that violate the uniqueness constraint.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-capability": [
          "AssetsAcl:READ"
        ]
      }
    },
    "/api/v1/projects/{project}/assets/update": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Update multiple assets",
        "description": "Updates multiple assets within the same project. Updating assets does not replace the existing asset hierarchy. This operation supports partial updates, meaning that fields omitted from the requests are not changed.\n\nUnder DataAssetChange -> SinglePathString, you can use 'set': 'value' to update value; use 'setNull': true to set that field to null.\n\nIt is possible to post changes to a maximum of 1000 assets per request and all of their IDs must be unique.",
        "operationId": "updateAssets",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "required": true,
            "description": "Project name",
            "schema": {
              "type": "string",
              "example": "publicdata"
            }
          }
        ],
        "requestBody": {
          "description": "List of changes. It is possible to post changes to a maximum of 1000 assets per request and all asset IDs must be unique.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "allOf": [
                            {
                              "type": "object",
                              "description": "Changes applied to asset",
                              "properties": {
                                "update": {
                                  "type": "object",
                                  "properties": {
                                    "externalId": {
                                      "type": "object",
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "set": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "setNull": {
                                              "type": "boolean"
                                            }
                                          }
                                        }
                                      ],
                                      "description": "Removable string change."
                                    },
                                    "name": {
                                      "type": "object",
                                      "properties": {
                                        "set": {
                                          "type": "string"
                                        }
                                      },
                                      "description": "Non removable string change.",
                                      "required": [
                                        "set"
                                      ]
                                    },
                                    "description": {
                                      "type": "object",
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "set": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "setNull": {
                                              "type": "boolean"
                                            }
                                          }
                                        }
                                      ],
                                      "description": "Removable string change."
                                    },
                                    "metadata": {
                                      "type": "object",
                                      "description": "Object change",
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "required": [
                                            "set"
                                          ],
                                          "properties": {
                                            "set": {
                                              "uniqueItems": true,
                                              "type": "object",
                                              "description": "Set the key-value pairs. All existing key-value pairs will be removed.",
                                              "additionalProperties": {
                                                "type": "string"
                                              },
                                              "example": {
                                                "key1": "value1",
                                                "key2": "value2"
                                              }
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "add": {
                                              "uniqueItems": true,
                                              "type": "object",
                                              "description": "Add the key-value pairs. Values for existing keys will be overwritten.",
                                              "additionalProperties": {
                                                "type": "string"
                                              },
                                              "example": {
                                                "key1": "value1",
                                                "key2": "value2"
                                              }
                                            },
                                            "remove": {
                                              "uniqueItems": true,
                                              "type": "array",
                                              "description": "Remove the key-value pairs with given keys.",
                                              "example": [
                                                "value1",
                                                "value2"
                                              ],
                                              "items": {
                                                "type": "string"
                                              }
                                            }
                                          }
                                        }
                                      ]
                                    },
                                    "source": {
                                      "type": "object",
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "set": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "setNull": {
                                              "type": "boolean"
                                            }
                                          }
                                        }
                                      ],
                                      "description": "Removable string change."
                                    }
                                  }
                                }
                              }
                            },
                            {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "description": "Javascript friendly internal ID given to the object.",
                                  "type": "integer",
                                  "minimum": 1,
                                  "maximum": 9007199254740991,
                                  "format": "int64"
                                }
                              }
                            }
                          ]
                        },
                        {
                          "allOf": [
                            {
                              "type": "object",
                              "description": "Changes applied to asset",
                              "properties": {
                                "update": {
                                  "type": "object",
                                  "properties": {
                                    "externalId": {
                                      "type": "object",
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "set": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "setNull": {
                                              "type": "boolean"
                                            }
                                          }
                                        }
                                      ],
                                      "description": "Removable string change."
                                    },
                                    "name": {
                                      "type": "object",
                                      "properties": {
                                        "set": {
                                          "type": "string"
                                        }
                                      },
                                      "description": "Non removable string change.",
                                      "required": [
                                        "set"
                                      ]
                                    },
                                    "description": {
                                      "type": "object",
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "set": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "setNull": {
                                              "type": "boolean"
                                            }
                                          }
                                        }
                                      ],
                                      "description": "Removable string change."
                                    },
                                    "metadata": {
                                      "type": "object",
                                      "description": "Object change",
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "required": [
                                            "set"
                                          ],
                                          "properties": {
                                            "set": {
                                              "uniqueItems": true,
                                              "type": "object",
                                              "description": "Set the key-value pairs. All existing key-value pairs will be removed.",
                                              "additionalProperties": {
                                                "type": "string"
                                              },
                                              "example": {
                                                "key1": "value1",
                                                "key2": "value2"
                                              }
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "add": {
                                              "uniqueItems": true,
                                              "type": "object",
                                              "description": "Add the key-value pairs. Values for existing keys will be overwritten.",
                                              "additionalProperties": {
                                                "type": "string"
                                              },
                                              "example": {
                                                "key1": "value1",
                                                "key2": "value2"
                                              }
                                            },
                                            "remove": {
                                              "uniqueItems": true,
                                              "type": "array",
                                              "description": "Remove the key-value pairs with given keys.",
                                              "example": [
                                                "value1",
                                                "value2"
                                              ],
                                              "items": {
                                                "type": "string"
                                              }
                                            }
                                          }
                                        }
                                      ]
                                    },
                                    "source": {
                                      "type": "object",
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "set": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "setNull": {
                                              "type": "boolean"
                                            }
                                          }
                                        }
                                      ],
                                      "description": "Removable string change."
                                    }
                                  }
                                }
                              }
                            },
                            {
                              "type": "object",
                              "properties": {
                                "externalId": {
                                  "description": "External Id provided by client. Should be unique within the project.",
                                  "type": "string",
                                  "maxLength": 255
                                }
                              }
                            }
                          ]
                        }
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 1000
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response with list of assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "externalId": {
                                "description": "External Id provided by client. Should be unique within the project.",
                                "type": "string",
                                "maxLength": 255
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of asset. Often referred to as tag.",
                                "maxLength": 50
                              },
                              "parentId": {
                                "description": "Javascript friendly internal ID given to the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              },
                              "description": {
                                "type": "string",
                                "description": "Description of asset.",
                                "maxLength": 500
                              },
                              "metadata": {
                                "type": "object",
                                "description": "Custom, application specific metadata. String key -> String value",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "source": {
                                "type": "string",
                                "description": "The source of this asset"
                              }
                            },
                            "description": "Representation of a physical asset, e.g plant or piece of equipment"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "description": "Javascript friendly internal ID given to the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "createdTime": {
                                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "lastUpdatedTime": {
                                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "path": {
                                "type": "array",
                                "description": "IDs of assets on the path to the asset.",
                                "items": {
                                  "type": "integer",
                                  "description": "IDs of assets on the path to the asset.",
                                  "format": "int64"
                                }
                              },
                              "depth": {
                                "type": "integer",
                                "description": "Asset path depth (number of levels below root node).",
                                "format": "int32",
                                "minimum": 0
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The response for a failed request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "description": "Cognite API error",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "HTTP status code",
                          "format": "int32",
                          "example": 401
                        },
                        "message": {
                          "type": "string",
                          "description": "Error message",
                          "example": "Could not authenticate."
                        },
                        "missing": {
                          "type": "array",
                          "description": "List of lookup objects that have not matched any results.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "duplicated": {
                          "type": "array",
                          "description": "List of objects that violate the uniqueness constraint.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-capability": [
          "AssetsAcl:WRITE"
        ]
      }
    },
    "/api/v1/projects/{project}/assets/search": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Search for assets",
        "description": "Retrieves a list of assets matching the given criteria. This operation does not support pagination.",
        "operationId": "searchAssets",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "required": true,
            "description": "Project name",
            "schema": {
              "type": "string",
              "example": "publicdata"
            }
          }
        ],
        "requestBody": {
          "description": "Search query",
          "content": {
            "application/json": {
              "schema": {
                "description": "Search request with filter capabilities",
                "allOf": [
                  {
                    "description": "Filter on assets with exact match",
                    "type": "object",
                    "properties": {
                      "filter": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Name of asset. Often referred to as tag.",
                            "maxLength": 50
                          },
                          "parentIds": {
                            "type": "array",
                            "items": {
                              "description": "Javascript friendly internal ID given to the object.",
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 9007199254740991,
                              "format": "int64"
                            }
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Custom, application specific metadata. String key -> String value",
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "source": {
                            "type": "string",
                            "description": "The source of this asset"
                          },
                          "createdTime": {
                            "description": "Range between two timestamps",
                            "type": "object",
                            "properties": {
                              "max": {
                                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "min": {
                                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              }
                            }
                          },
                          "lastUpdatedTime": {
                            "description": "Range between two timestamps",
                            "type": "object",
                            "properties": {
                              "max": {
                                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "min": {
                                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              }
                            }
                          },
                          "root": {
                            "type": "boolean",
                            "description": "filtered assets are root assets or not"
                          },
                          "externalIdPrefix": {
                            "description": "External Id provided by client. Should be unique within the project.",
                            "type": "string",
                            "maxLength": 255
                          }
                        }
                      },
                      "limit": {
                        "description": "<- Limits the maximum number of results to be returned by single request. In case there are more results to the request 'nextCursor' attribute will be provided as part of response. Request may contain less results than request limit.",
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "maximum": 1000,
                        "default": 100
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "search": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Name of asset. Often referred to as tag.",
                            "maxLength": 50
                          },
                          "description": {
                            "type": "string",
                            "description": "Description of asset.",
                            "maxLength": 500
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response with list of assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "externalId": {
                                "description": "External Id provided by client. Should be unique within the project.",
                                "type": "string",
                                "maxLength": 255
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of asset. Often referred to as tag.",
                                "maxLength": 50
                              },
                              "parentId": {
                                "description": "Javascript friendly internal ID given to the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              },
                              "description": {
                                "type": "string",
                                "description": "Description of asset.",
                                "maxLength": 500
                              },
                              "metadata": {
                                "type": "object",
                                "description": "Custom, application specific metadata. String key -> String value",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "source": {
                                "type": "string",
                                "description": "The source of this asset"
                              }
                            },
                            "description": "Representation of a physical asset, e.g plant or piece of equipment"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "description": "Javascript friendly internal ID given to the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "createdTime": {
                                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "lastUpdatedTime": {
                                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "path": {
                                "type": "array",
                                "description": "IDs of assets on the path to the asset.",
                                "items": {
                                  "type": "integer",
                                  "description": "IDs of assets on the path to the asset.",
                                  "format": "int64"
                                }
                              },
                              "depth": {
                                "type": "integer",
                                "description": "Asset path depth (number of levels below root node).",
                                "format": "int32",
                                "minimum": 0
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-capability": [
          "AssetsAcl:READ"
        ]
      }
    },
    "/api/v1/projects/{project}/assets/delete": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Delete assets",
        "description": "Deletes multiple assets in the same project, along with all their descendants in the asset hierarchy.\n\nA maximum of 1000 asset IDs can be listed per delete request (not including the descendants).",
        "operationId": "deleteAssets",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "required": true,
            "description": "Project name",
            "schema": {
              "type": "string",
              "example": "publicdata"
            }
          }
        ],
        "requestBody": {
          "description": "List of IDs of assets to delete. A maximum of 1000 asset IDs can be listed per delete request (not including the descendants).",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "description": "Javascript friendly internal ID given to the object.",
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 9007199254740991,
                              "format": "int64"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "externalId": {
                              "description": "External Id provided by client. Should be unique within the project.",
                              "type": "string",
                              "maxLength": 255
                            }
                          }
                        }
                      ]
                    },
                    "maxItems": 1000,
                    "minItems": 1
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Empty response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "The response for a failed request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "description": "Cognite API error",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "HTTP status code",
                          "format": "int32",
                          "example": 401
                        },
                        "message": {
                          "type": "string",
                          "description": "Error message",
                          "example": "Could not authenticate."
                        },
                        "missing": {
                          "type": "array",
                          "description": "List of lookup objects that have not matched any results.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "duplicated": {
                          "type": "array",
                          "description": "List of objects that violate the uniqueness constraint.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-capability": [
          "AssetsAcl:WRITE"
        ]
      }
    },
    "/api/v1/projects/{project}/events": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Create events",
        "description": "Creates multiple event objects in the same project. It is possible to post a maximum of 1000 events per request.",
        "operationId": "createEvents",
        "parameters": [
          {
            "name": "project",
            "description": "Project name.",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "description": "List of events to be posted. It is possible to post a maximum of 1000 events per request.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "externalId": {
                          "description": "External Id provided by client. Should be unique within the project",
                          "type": "string",
                          "maxLength": 255
                        },
                        "startTime": {
                          "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                          "type": "integer",
                          "minimum": 0,
                          "format": "int64"
                        },
                        "endTime": {
                          "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                          "type": "integer",
                          "minimum": 0,
                          "format": "int64"
                        },
                        "type": {
                          "maxLength": 64,
                          "type": "string",
                          "description": "Type of the event, e.g 'failure'."
                        },
                        "subtype": {
                          "maxLength": 64,
                          "type": "string",
                          "description": "Subtype of the event, e.g 'electrical'."
                        },
                        "description": {
                          "maxLength": 500,
                          "type": "string",
                          "description": "Textual description of the event."
                        },
                        "metadata": {
                          "type": "object",
                          "description": "Custom, application specific metadata. String key -> String value",
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "assetIds": {
                          "type": "array",
                          "minItems": 1,
                          "maxItems": 100,
                          "uniqueItems": true,
                          "description": "Asset IDs of related equipment that this event relates to.",
                          "items": {
                            "description": "Javascript friendly internal ID given to the object.",
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 9007199254740991,
                            "format": "int64"
                          }
                        },
                        "source": {
                          "maxLength": 128,
                          "type": "string",
                          "description": "The source of this event."
                        }
                      },
                      "description": "An event represents something that happened at a given interval in time, e.g a failure, a work order etc."
                    },
                    "minItems": 1,
                    "maxItems": 1000
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Paged response with list of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "allOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "externalId": {
                                    "description": "External Id provided by client. Should be unique within the project",
                                    "type": "string",
                                    "maxLength": 255
                                  },
                                  "startTime": {
                                    "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                    "type": "integer",
                                    "minimum": 0,
                                    "format": "int64"
                                  },
                                  "endTime": {
[...]
