{
  "openapi": "3.0.1",
  "info": {
    "title": "Cognite API",
    "description": "This is the reference documentation for the Cognite API. Here you can see an overview of all methods available through the API.",
    "version": "v1 (Early Access)"
  },
  "servers": [
    {
      "url": "https://api.cognitedata.com"
    }
  ],
  "components": {
    "schemas": {
      "Cursor": {
        "description": "Cursor for paging through results",
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string"
          }
        }
      },
      "EpochTimestamp": {
        "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
        "type": "integer",
        "minimum": 0,
        "format": "int64"
      },
      "EpochTimestampRange": {
        "description": "Range between two timestamps",
        "type": "object",
        "properties": {
          "max": {
            "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
            "type": "integer",
            "minimum": 0,
            "format": "int64"
          },
          "min": {
            "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
            "type": "integer",
            "minimum": 0,
            "format": "int64"
          }
        }
      },
      "IntegerRange": {
        "description": "Range between two integers",
        "type": "object",
        "properties": {
          "max": {
            "type": "integer",
            "minimum": 0,
            "format": "int32"
          },
          "min": {
            "type": "integer",
            "minimum": 0,
            "format": "int32"
          }
        }
      },
      "CogniteInternalId": {
        "description": "Javascript friendly internal ID given to the object.",
        "type": "integer",
        "minimum": 1,
        "maximum": 9007199254740991,
        "format": "int64"
      },
      "CogniteExternalId": {
        "description": "External Id provided by client. Should be unique within the project.",
        "type": "string",
        "maxLength": 255
      },
      "CogniteRefId": {
        "description": "Reference ID used only in post request to disambiguate references to duplicate names.",
        "type": "string",
        "maxLength": 50
      },
      "CogniteParentRefId": {
        "description": "Reference ID of parent, to disambiguate if multiple nodes have the same name.",
        "type": "string",
        "maxLength": 50
      },
      "AssetName": {
        "type": "string",
        "description": "Name of asset. Often referred to as tag."
      },
      "AssetDescription": {
        "type": "string",
        "description": "Description of asset."
      },
      "AssetMetadata": {
        "type": "object",
        "description": "Custom, application specific metadata. String key -> String value",
        "additionalProperties": {
          "type": "string"
        }
      },
      "AssetSource": {
        "type": "string",
        "description": "The source of this asset"
      },
      "AssetInternalId": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Javascript friendly internal ID given to the object.",
            "type": "integer",
            "minimum": 1,
            "maximum": 9007199254740991,
            "format": "int64"
          }
        }
      },
      "AssetExternalId": {
        "type": "object",
        "properties": {
          "externalId": {
            "description": "External Id provided by client. Should be unique within the project.",
            "type": "string",
            "maxLength": 255
          }
        }
      },
      "AssetIdEither": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "id": {
                "description": "Javascript friendly internal ID given to the object.",
                "type": "integer",
                "minimum": 1,
                "maximum": 9007199254740991,
                "format": "int64"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "externalId": {
                "description": "External Id provided by client. Should be unique within the project.",
                "type": "string",
                "maxLength": 255
              }
            }
          }
        ]
      },
      "DataIds": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Javascript friendly internal ID given to the object.",
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 9007199254740991,
                      "format": "int64"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "externalId": {
                      "description": "External Id provided by client. Should be unique within the project.",
                      "type": "string",
                      "maxLength": 255
                    }
                  }
                }
              ]
            },
            "maxItems": 1000,
            "minItems": 1
          }
        }
      },
      "ExternalAsset": {
        "type": "object",
        "properties": {
          "externalId": {
            "description": "External Id provided by client. Should be unique within the project.",
            "type": "string",
            "maxLength": 255
          },
          "name": {
            "type": "string",
            "description": "Name of asset. Often referred to as tag."
          },
          "parentId": {
            "description": "Javascript friendly internal ID given to the object.",
            "type": "integer",
            "minimum": 1,
            "maximum": 9007199254740991,
            "format": "int64"
          },
          "description": {
            "type": "string",
            "description": "Description of asset."
          },
          "metadata": {
            "type": "object",
            "description": "Custom, application specific metadata. String key -> String value",
            "additionalProperties": {
              "type": "string"
            }
          },
          "source": {
            "type": "string",
            "description": "The source of this asset"
          }
        },
        "description": "Representation of a physical asset, e.g plant or piece of equipment"
      },
      "Asset": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "externalId": {
                "description": "External Id provided by client. Should be unique within the project.",
                "type": "string",
                "maxLength": 255
              },
              "name": {
                "type": "string",
                "description": "Name of asset. Often referred to as tag."
              },
              "parentId": {
                "description": "Javascript friendly internal ID given to the object.",
                "type": "integer",
                "minimum": 1,
                "maximum": 9007199254740991,
                "format": "int64"
              },
              "description": {
                "type": "string",
                "description": "Description of asset."
              },
              "metadata": {
                "type": "object",
                "description": "Custom, application specific metadata. String key -> String value",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "source": {
                "type": "string",
                "description": "The source of this asset"
              }
            },
            "description": "Representation of a physical asset, e.g plant or piece of equipment"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "description": "Javascript friendly internal ID given to the object.",
                "type": "integer",
                "minimum": 1,
                "maximum": 9007199254740991,
                "format": "int64"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "lastUpdatedTime": {
                "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                "type": "integer",
                "minimum": 0,
                "format": "int64"
              },
              "path": {
                "type": "array",
                "description": "IDs of assets on the path to the asset.",
                "items": {
                  "type": "integer",
                  "description": "IDs of assets on the path to the asset.",
                  "format": "int64"
                }
              },
              "depth": {
                "type": "integer",
                "description": "Asset path depth (number of levels below root node).",
                "format": "int32",
                "minimum": 0
              }
            }
          }
        ]
      },
      "DataAsset": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "externalId": {
                      "description": "External Id provided by client. Should be unique within the project.",
                      "type": "string",
                      "maxLength": 255
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of asset. Often referred to as tag."
                    },
                    "parentId": {
                      "description": "Javascript friendly internal ID given to the object.",
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 9007199254740991,
                      "format": "int64"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of asset."
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Custom, application specific metadata. String key -> String value",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "source": {
                      "type": "string",
                      "description": "The source of this asset"
                    }
                  },
                  "description": "Representation of a physical asset, e.g plant or piece of equipment"
                },
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Javascript friendly internal ID given to the object.",
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 9007199254740991,
                      "format": "int64"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "lastUpdatedTime": {
                      "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                      "type": "integer",
                      "minimum": 0,
                      "format": "int64"
                    },
                    "path": {
                      "type": "array",
                      "description": "IDs of assets on the path to the asset.",
                      "items": {
                        "type": "integer",
                        "description": "IDs of assets on the path to the asset.",
                        "format": "int64"
                      }
                    },
                    "depth": {
                      "type": "integer",
                      "description": "Asset path depth (number of levels below root node).",
                      "format": "int32",
                      "minimum": 0
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "DataAssetChange": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "allOf": [
                    {
                      "type": "object",
                      "description": "Changes will be applied to event.",
                      "properties": {
                        "update": {
                          "type": "object",
                          "properties": {
                            "externalId": {
                              "type": "object",
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "set": {
                                      "type": "string"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "setNull": {
                                      "type": "boolean"
                                    }
                                  }
                                }
                              ],
                              "description": "Removable string change."
                            },
                            "name": {
                              "type": "object",
                              "properties": {
                                "set": {
                                  "type": "string"
                                }
                              },
                              "description": "Non removable string change.",
                              "required": [
                                "set"
                              ]
                            },
                            "description": {
                              "type": "object",
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "set": {
                                      "type": "string"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "setNull": {
                                      "type": "boolean"
                                    }
                                  }
                                }
                              ],
                              "description": "Removable string change."
                            },
                            "metadata": {
                              "type": "object",
                              "description": "Object change",
                              "properties": {
                                "add": {
                                  "uniqueItems": true,
                                  "type": "object",
                                  "description": "key-value pairs to be added. Existing key-value pairs will be kept. If key already exist, the value will be overwritten.",
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "example": {
                                    "key1": "value1",
                                    "key2": "value2"
                                  }
                                },
                                "remove": {
                                  "uniqueItems": true,
                                  "type": "array",
                                  "description": "Array of keys of key-value pairs to remove.",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "set": {
                                  "uniqueItems": true,
                                  "type": "object",
                                  "description": "Set the key-value pairs. All existing key-value pairs will be removed.",
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "example": {
                                    "key1": "value1",
                                    "key2": "value2"
                                  }
                                }
                              }
                            },
                            "source": {
                              "type": "object",
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "set": {
                                      "type": "string"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "setNull": {
                                      "type": "boolean"
                                    }
                                  }
                                }
                              ],
                              "description": "Removable string change."
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Javascript friendly internal ID given to the object.",
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991,
                          "format": "int64"
                        }
                      }
                    }
                  ]
                },
                {
                  "allOf": [
                    {
                      "type": "object",
                      "description": "Changes will be applied to event.",
                      "properties": {
                        "update": {
                          "type": "object",
                          "properties": {
                            "externalId": {
                              "type": "object",
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "set": {
                                      "type": "string"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "setNull": {
                                      "type": "boolean"
                                    }
                                  }
                                }
                              ],
                              "description": "Removable string change."
                            },
                            "name": {
                              "type": "object",
                              "properties": {
                                "set": {
                                  "type": "string"
                                }
                              },
                              "description": "Non removable string change.",
                              "required": [
                                "set"
                              ]
                            },
                            "description": {
                              "type": "object",
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "set": {
                                      "type": "string"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "setNull": {
                                      "type": "boolean"
                                    }
                                  }
                                }
                              ],
                              "description": "Removable string change."
                            },
                            "metadata": {
                              "type": "object",
                              "description": "Object change",
                              "properties": {
                                "add": {
                                  "uniqueItems": true,
                                  "type": "object",
                                  "description": "key-value pairs to be added. Existing key-value pairs will be kept. If key already exist, the value will be overwritten.",
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "example": {
                                    "key1": "value1",
                                    "key2": "value2"
                                  }
                                },
                                "remove": {
                                  "uniqueItems": true,
                                  "type": "array",
                                  "description": "Array of keys of key-value pairs to remove.",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "set": {
                                  "uniqueItems": true,
                                  "type": "object",
                                  "description": "Set the key-value pairs. All existing key-value pairs will be removed.",
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "example": {
                                    "key1": "value1",
                                    "key2": "value2"
                                  }
                                }
                              }
                            },
                            "source": {
                              "type": "object",
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "set": {
                                      "type": "string"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "setNull": {
                                      "type": "boolean"
                                    }
                                  }
                                }
                              ],
                              "description": "Removable string change."
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "externalId": {
                          "description": "External Id provided by client. Should be unique within the project.",
                          "type": "string",
                          "maxLength": 255
                        }
                      }
                    }
                  ]
                }
              ]
            }
          }
        }
      },
      "ExternalAssetItem": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "externalId": {
                "description": "External Id provided by client. Should be unique within the project.",
                "type": "string",
                "maxLength": 255
              },
              "name": {
                "type": "string",
                "description": "Name of asset. Often referred to as tag."
              },
              "parentId": {
                "description": "Javascript friendly internal ID given to the object.",
                "type": "integer",
                "minimum": 1,
                "maximum": 9007199254740991,
                "format": "int64"
              },
              "description": {
                "type": "string",
                "description": "Description of asset."
              },
              "metadata": {
                "type": "object",
                "description": "Custom, application specific metadata. String key -> String value",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "source": {
                "type": "string",
                "description": "The source of this asset"
              }
            },
            "description": "Representation of a physical asset, e.g plant or piece of equipment"
          },
          {
            "type": "object",
            "properties": {
              "refId": {
                "description": "Reference ID used only in post request to disambiguate references to duplicate names.",
                "type": "string",
                "maxLength": 50
              },
              "parentRefId": {
                "description": "Reference ID of parent, to disambiguate if multiple nodes have the same name.",
                "type": "string",
                "maxLength": 50
              }
            }
          }
        ]
      },
      "DataExternalAsset": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "externalId": {
                      "description": "External Id provided by client. Should be unique within the project.",
                      "type": "string",
                      "maxLength": 255
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of asset. Often referred to as tag."
                    },
                    "parentId": {
                      "description": "Javascript friendly internal ID given to the object.",
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 9007199254740991,
                      "format": "int64"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of asset."
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Custom, application specific metadata. String key -> String value",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "source": {
                      "type": "string",
                      "description": "The source of this asset"
                    }
                  },
                  "description": "Representation of a physical asset, e.g plant or piece of equipment"
                },
                {
                  "type": "object",
                  "properties": {
                    "refId": {
                      "description": "Reference ID used only in post request to disambiguate references to duplicate names.",
                      "type": "string",
                      "maxLength": 50
                    },
                    "parentRefId": {
                      "description": "Reference ID of parent, to disambiguate if multiple nodes have the same name.",
                      "type": "string",
                      "maxLength": 50
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "DataWithCursorAsset": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "externalId": {
                      "description": "External Id provided by client. Should be unique within the project.",
                      "type": "string",
                      "maxLength": 255
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of asset. Often referred to as tag."
                    },
                    "parentId": {
                      "description": "Javascript friendly internal ID given to the object.",
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 9007199254740991,
                      "format": "int64"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of asset."
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Custom, application specific metadata. String key -> String value",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "source": {
                      "type": "string",
                      "description": "The source of this asset"
                    }
                  },
                  "description": "Representation of a physical asset, e.g plant or piece of equipment"
                },
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Javascript friendly internal ID given to the object.",
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 9007199254740991,
                      "format": "int64"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "lastUpdatedTime": {
                      "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                      "type": "integer",
                      "minimum": 0,
                      "format": "int64"
                    },
                    "path": {
                      "type": "array",
                      "description": "IDs of assets on the path to the asset.",
                      "items": {
                        "type": "integer",
                        "description": "IDs of assets on the path to the asset.",
                        "format": "int64"
                      }
                    },
                    "depth": {
                      "type": "integer",
                      "description": "Asset path depth (number of levels below root node).",
                      "format": "int32",
                      "minimum": 0
                    }
                  }
                }
              ]
            }
          },
          "nextCursor": {
            "type": "string",
            "description": "Cursor to get the next page of results (if available)."
          }
        },
        "description": "A list of objects along with possible cursors to get the next, or previous, page of results"
      },
      "AssetFilter": {
        "description": "Filter on assets with exact match",
        "type": "object",
        "properties": {
          "filter": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of asset. Often referred to as tag."
              },
              "parentIds": {
                "type": "array",
                "items": {
                  "description": "Javascript friendly internal ID given to the object.",
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991,
                  "format": "int64"
                }
              },
              "metadata": {
                "type": "object",
                "description": "Custom, application specific metadata. String key -> String value",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "source": {
                "type": "string",
                "description": "The source of this asset"
              },
              "createdTime": {
                "description": "Range between two timestamps",
                "type": "object",
                "properties": {
                  "max": {
                    "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                    "type": "integer",
                    "minimum": 0,
                    "format": "int64"
                  },
                  "min": {
                    "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                    "type": "integer",
                    "minimum": 0,
                    "format": "int64"
                  }
                }
              },
              "lastUpdatedTime": {
                "description": "Range between two timestamps",
                "type": "object",
                "properties": {
                  "max": {
                    "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                    "type": "integer",
                    "minimum": 0,
                    "format": "int64"
                  },
                  "min": {
                    "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                    "type": "integer",
                    "minimum": 0,
                    "format": "int64"
                  }
                }
              },
              "assetSubtrees": {
                "type": "array",
                "minItems": 1,
                "maxItems": 100,
                "uniqueItems": true,
                "description": "Filter out events that are not linked to assets in the subtree rooted at these assets.",
                "items": {
                  "description": "Javascript friendly internal ID given to the object.",
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991,
                  "format": "int64"
                }
              },
              "depth": {
                "description": "Range between two integers",
                "type": "object",
                "properties": {
                  "max": {
                    "type": "integer",
                    "minimum": 0,
                    "format": "int32"
                  },
                  "min": {
                    "type": "integer",
                    "minimum": 0,
                    "format": "int32"
                  }
                }
              },
              "externalIdPrefix": {
                "description": "External Id provided by client. Should be unique within the project.",
                "type": "string",
                "maxLength": 255
              }
            }
          },
          "limit": {
            "description": "<- TODO",
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 1000,
            "default": 100
          }
        }
      },
      "AssetListScope": {
        "allOf": [
          {
            "description": "Filter on assets with exact match",
            "type": "object",
            "properties": {
              "filter": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of asset. Often referred to as tag."
                  },
                  "parentIds": {
                    "type": "array",
                    "items": {
                      "description": "Javascript friendly internal ID given to the object.",
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 9007199254740991,
                      "format": "int64"
                    }
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Custom, application specific metadata. String key -> String value",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "source": {
                    "type": "string",
                    "description": "The source of this asset"
                  },
                  "createdTime": {
                    "description": "Range between two timestamps",
                    "type": "object",
                    "properties": {
                      "max": {
                        "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                        "type": "integer",
                        "minimum": 0,
                        "format": "int64"
                      },
                      "min": {
                        "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                        "type": "integer",
                        "minimum": 0,
                        "format": "int64"
                      }
                    }
                  },
                  "lastUpdatedTime": {
                    "description": "Range between two timestamps",
                    "type": "object",
                    "properties": {
                      "max": {
                        "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                        "type": "integer",
                        "minimum": 0,
                        "format": "int64"
                      },
                      "min": {
                        "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                        "type": "integer",
                        "minimum": 0,
                        "format": "int64"
                      }
                    }
                  },
                  "assetSubtrees": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 100,
                    "uniqueItems": true,
                    "description": "Filter out events that are not linked to assets in the subtree rooted at these assets.",
                    "items": {
                      "description": "Javascript friendly internal ID given to the object.",
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 9007199254740991,
                      "format": "int64"
                    }
                  },
                  "depth": {
                    "description": "Range between two integers",
                    "type": "object",
                    "properties": {
                      "max": {
                        "type": "integer",
                        "minimum": 0,
                        "format": "int32"
                      },
                      "min": {
                        "type": "integer",
                        "minimum": 0,
                        "format": "int32"
                      }
                    }
                  },
                  "externalIdPrefix": {
                    "description": "External Id provided by client. Should be unique within the project.",
                    "type": "string",
                    "maxLength": 255
                  }
                }
              },
              "limit": {
                "description": "<- TODO",
                "type": "integer",
                "format": "int32",
                "minimum": 1,
                "maximum": 1000,
                "default": 100
              }
            }
          },
          {
            "description": "Cursor for paging through results",
            "type": "object",
            "properties": {
              "cursor": {
                "type": "string"
              }
            }
          }
        ]
      },
      "AssetSearchFilter": {
        "description": "Filter on events fillter with exact match",
        "allOf": [
          {
            "description": "Filter on assets with exact match",
            "type": "object",
            "properties": {
              "filter": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of asset. Often referred to as tag."
                  },
                  "parentIds": {
                    "type": "array",
                    "items": {
                      "description": "Javascript friendly internal ID given to the object.",
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 9007199254740991,
                      "format": "int64"
                    }
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Custom, application specific metadata. String key -> String value",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "source": {
                    "type": "string",
                    "description": "The source of this asset"
                  },
                  "createdTime": {
                    "description": "Range between two timestamps",
                    "type": "object",
                    "properties": {
                      "max": {
                        "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                        "type": "integer",
                        "minimum": 0,
                        "format": "int64"
                      },
                      "min": {
                        "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                        "type": "integer",
                        "minimum": 0,
                        "format": "int64"
                      }
                    }
                  },
                  "lastUpdatedTime": {
                    "description": "Range between two timestamps",
                    "type": "object",
                    "properties": {
                      "max": {
                        "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                        "type": "integer",
                        "minimum": 0,
                        "format": "int64"
                      },
                      "min": {
                        "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                        "type": "integer",
                        "minimum": 0,
                        "format": "int64"
                      }
                    }
                  },
                  "assetSubtrees": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 100,
                    "uniqueItems": true,
                    "description": "Filter out events that are not linked to assets in the subtree rooted at these assets.",
                    "items": {
                      "description": "Javascript friendly internal ID given to the object.",
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 9007199254740991,
                      "format": "int64"
                    }
                  },
                  "depth": {
                    "description": "Range between two integers",
                    "type": "object",
                    "properties": {
                      "max": {
                        "type": "integer",
                        "minimum": 0,
                        "format": "int32"
                      },
                      "min": {
                        "type": "integer",
                        "minimum": 0,
                        "format": "int32"
                      }
                    }
                  },
                  "externalIdPrefix": {
                    "description": "External Id provided by client. Should be unique within the project.",
                    "type": "string",
                    "maxLength": 255
                  }
                }
              },
              "limit": {
                "description": "<- TODO",
                "type": "integer",
                "format": "int32",
                "minimum": 1,
                "maximum": 1000,
                "default": 100
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "search": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of asset. Often referred to as tag."
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of asset."
                  }
                }
              }
            }
          }
        ]
      },
      "AssetChange": {
        "oneOf": [
          {
            "allOf": [
              {
                "type": "object",
                "description": "Changes will be applied to event.",
                "properties": {
                  "update": {
                    "type": "object",
                    "properties": {
                      "externalId": {
                        "type": "object",
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "set": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "setNull": {
                                "type": "boolean"
                              }
                            }
                          }
                        ],
                        "description": "Removable string change."
                      },
                      "name": {
                        "type": "object",
                        "properties": {
                          "set": {
                            "type": "string"
                          }
                        },
                        "description": "Non removable string change.",
                        "required": [
                          "set"
                        ]
                      },
                      "description": {
                        "type": "object",
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "set": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "setNull": {
                                "type": "boolean"
                              }
                            }
                          }
                        ],
                        "description": "Removable string change."
                      },
                      "metadata": {
                        "type": "object",
                        "description": "Object change",
                        "properties": {
                          "add": {
                            "uniqueItems": true,
                            "type": "object",
                            "description": "key-value pairs to be added. Existing key-value pairs will be kept. If key already exist, the value will be overwritten.",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "example": {
                              "key1": "value1",
                              "key2": "value2"
                            }
                          },
                          "remove": {
                            "uniqueItems": true,
                            "type": "array",
                            "description": "Array of keys of key-value pairs to remove.",
                            "items": {
                              "type": "string"
                            }
                          },
                          "set": {
                            "uniqueItems": true,
                            "type": "object",
                            "description": "Set the key-value pairs. All existing key-value pairs will be removed.",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "example": {
                              "key1": "value1",
                              "key2": "value2"
                            }
                          }
                        }
                      },
                      "source": {
                        "type": "object",
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "set": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "setNull": {
                                "type": "boolean"
                              }
                            }
                          }
                        ],
                        "description": "Removable string change."
                      }
                    }
                  }
                }
              },
              {
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Javascript friendly internal ID given to the object.",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 9007199254740991,
                    "format": "int64"
                  }
                }
              }
            ]
          },
          {
            "allOf": [
              {
                "type": "object",
                "description": "Changes will be applied to event.",
                "properties": {
                  "update": {
                    "type": "object",
                    "properties": {
                      "externalId": {
                        "type": "object",
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "set": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "setNull": {
                                "type": "boolean"
                              }
                            }
                          }
                        ],
                        "description": "Removable string change."
                      },
                      "name": {
                        "type": "object",
                        "properties": {
                          "set": {
                            "type": "string"
                          }
                        },
                        "description": "Non removable string change.",
                        "required": [
                          "set"
                        ]
                      },
                      "description": {
                        "type": "object",
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "set": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "setNull": {
                                "type": "boolean"
                              }
                            }
                          }
                        ],
                        "description": "Removable string change."
                      },
                      "metadata": {
                        "type": "object",
                        "description": "Object change",
                        "properties": {
                          "add": {
                            "uniqueItems": true,
                            "type": "object",
                            "description": "key-value pairs to be added. Existing key-value pairs will be kept. If key already exist, the value will be overwritten.",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "example": {
                              "key1": "value1",
                              "key2": "value2"
                            }
                          },
                          "remove": {
                            "uniqueItems": true,
                            "type": "array",
                            "description": "Array of keys of key-value pairs to remove.",
                            "items": {
                              "type": "string"
                            }
                          },
                          "set": {
                            "uniqueItems": true,
                            "type": "object",
                            "description": "Set the key-value pairs. All existing key-value pairs will be removed.",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "example": {
                              "key1": "value1",
                              "key2": "value2"
                            }
                          }
                        }
                      },
                      "source": {
                        "type": "object",
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "set": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "setNull": {
                                "type": "boolean"
                              }
                            }
                          }
                        ],
                        "description": "Removable string change."
                      }
                    }
                  }
                }
              },
              {
                "type": "object",
                "properties": {
                  "externalId": {
                    "description": "External Id provided by client. Should be unique within the project.",
                    "type": "string",
                    "maxLength": 255
                  }
                }
              }
            ]
          }
        ]
      },
      "AssetChangeById": {
        "allOf": [
          {
            "type": "object",
            "description": "Changes will be applied to event.",
            "properties": {
              "update": {
                "type": "object",
                "properties": {
                  "externalId": {
                    "type": "object",
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "set": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "setNull": {
                            "type": "boolean"
                          }
                        }
                      }
                    ],
                    "description": "Removable string change."
                  },
                  "name": {
                    "type": "object",
                    "properties": {
                      "set": {
                        "type": "string"
                      }
                    },
                    "description": "Non removable string change.",
                    "required": [
                      "set"
                    ]
                  },
                  "description": {
                    "type": "object",
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "set": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "setNull": {
                            "type": "boolean"
                          }
                        }
                      }
                    ],
                    "description": "Removable string change."
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Object change",
                    "properties": {
                      "add": {
                        "uniqueItems": true,
                        "type": "object",
                        "description": "key-value pairs to be added. Existing key-value pairs will be kept. If key already exist, the value will be overwritten.",
                        "additionalProperties": {
                          "type": "string"
                        },
                        "example": {
                          "key1": "value1",
                          "key2": "value2"
                        }
                      },
                      "remove": {
                        "uniqueItems": true,
                        "type": "array",
                        "description": "Array of keys of key-value pairs to remove.",
                        "items": {
                          "type": "string"
                        }
                      },
                      "set": {
                        "uniqueItems": true,
                        "type": "object",
                        "description": "Set the key-value pairs. All existing key-value pairs will be removed.",
                        "additionalProperties": {
                          "type": "string"
                        },
                        "example": {
                          "key1": "value1",
                          "key2": "value2"
                        }
                      }
                    }
                  },
                  "source": {
                    "type": "object",
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "set": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "setNull": {
                            "type": "boolean"
                          }
                        }
                      }
                    ],
                    "description": "Removable string change."
                  }
                }
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "description": "Javascript friendly internal ID given to the object.",
                "type": "integer",
                "minimum": 1,
                "maximum": 9007199254740991,
                "format": "int64"
              }
            }
          }
        ]
      },
      "AssetChangeByExternalId": {
        "allOf": [
          {
            "type": "object",
            "description": "Changes will be applied to event.",
            "properties": {
              "update": {
                "type": "object",
                "properties": {
                  "externalId": {
                    "type": "object",
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "set": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "setNull": {
                            "type": "boolean"
                          }
                        }
                      }
                    ],
                    "description": "Removable string change."
                  },
                  "name": {
                    "type": "object",
                    "properties": {
                      "set": {
                        "type": "string"
                      }
                    },
                    "description": "Non removable string change.",
                    "required": [
                      "set"
                    ]
                  },
                  "description": {
                    "type": "object",
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "set": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "setNull": {
                            "type": "boolean"
                          }
                        }
                      }
                    ],
                    "description": "Removable string change."
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Object change",
                    "properties": {
                      "add": {
                        "uniqueItems": true,
                        "type": "object",
                        "description": "key-value pairs to be added. Existing key-value pairs will be kept. If key already exist, the value will be overwritten.",
                        "additionalProperties": {
                          "type": "string"
                        },
                        "example": {
                          "key1": "value1",
                          "key2": "value2"
                        }
                      },
                      "remove": {
                        "uniqueItems": true,
                        "type": "array",
                        "description": "Array of keys of key-value pairs to remove.",
                        "items": {
                          "type": "string"
                        }
                      },
                      "set": {
                        "uniqueItems": true,
                        "type": "object",
                        "description": "Set the key-value pairs. All existing key-value pairs will be removed.",
                        "additionalProperties": {
                          "type": "string"
                        },
                        "example": {
                          "key1": "value1",
                          "key2": "value2"
                        }
                      }
                    }
                  },
                  "source": {
                    "type": "object",
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "set": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "setNull": {
                            "type": "boolean"
                          }
                        }
                      }
                    ],
                    "description": "Removable string change."
                  }
                }
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "externalId": {
                "description": "External Id provided by client. Should be unique within the project.",
                "type": "string",
                "maxLength": 255
              }
            }
          }
        ]
      },
      "AssetPatch": {
        "type": "object",
        "description": "Changes will be applied to event.",
        "properties": {
          "update": {
            "type": "object",
            "properties": {
              "externalId": {
                "type": "object",
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "set": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "setNull": {
                        "type": "boolean"
                      }
                    }
                  }
                ],
                "description": "Removable string change."
              },
              "name": {
                "type": "object",
                "properties": {
                  "set": {
                    "type": "string"
                  }
                },
                "description": "Non removable string change.",
                "required": [
                  "set"
                ]
              },
              "description": {
                "type": "object",
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "set": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "setNull": {
                        "type": "boolean"
                      }
                    }
                  }
                ],
                "description": "Removable string change."
              },
              "metadata": {
                "type": "object",
                "description": "Object change",
                "properties": {
                  "add": {
                    "uniqueItems": true,
                    "type": "object",
                    "description": "key-value pairs to be added. Existing key-value pairs will be kept. If key already exist, the value will be overwritten.",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "example": {
                      "key1": "value1",
                      "key2": "value2"
                    }
                  },
                  "remove": {
                    "uniqueItems": true,
                    "type": "array",
                    "description": "Array of keys of key-value pairs to remove.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "set": {
                    "uniqueItems": true,
                    "type": "object",
                    "description": "Set the key-value pairs. All existing key-value pairs will be removed.",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "example": {
                      "key1": "value1",
                      "key2": "value2"
                    }
                  }
                }
              },
              "source": {
                "type": "object",
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "set": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "setNull": {
                        "type": "boolean"
                      }
                    }
                  }
                ],
                "description": "Removable string change."
              }
            }
          }
        }
      },
      "SetObjectField": {
        "type": "object",
        "properties": {
          "set": {
            "type": "object"
          }
        }
      },
      "SetLongField": {
        "type": "object",
        "properties": {
          "set": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "SetStringField": {
        "type": "object",
        "properties": {
          "set": {
            "type": "string"
          }
        }
      },
      "RemoveField": {
        "type": "object",
        "properties": {
          "setNull": {
            "type": "boolean"
          }
        }
      },
      "SinglePatch": {
        "type": "object",
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "set": {
                "type": "object"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "setNull": {
                "type": "boolean"
              }
            }
          }
        ],
        "description": "Object change"
      },
      "SinglePatchLong": {
        "type": "object",
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "set": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "setNull": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "SinglePatchString": {
        "type": "object",
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "set": {
                "type": "string"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "setNull": {
                "type": "boolean"
              }
            }
          }
        ],
        "description": "Removable string change."
      },
      "SinglePatchRequiredString": {
        "type": "object",
        "properties": {
          "set": {
            "type": "string"
          }
        },
        "description": "Non removable string change.",
        "required": [
          "set"
        ]
      },
      "ArrayPatchLong": {
        "type": "object",
        "description": "array of objects change",
        "properties": {
          "add": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "remove": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "set": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      },
      "ObjectPatch": {
        "type": "object",
        "description": "Object change",
        "properties": {
          "add": {
            "uniqueItems": true,
            "type": "object",
            "description": "key-value pairs to be added. Existing key-value pairs will be kept. If key already exist, the value will be overwritten.",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "key1": "value1",
              "key2": "value2"
            }
          },
          "remove": {
            "uniqueItems": true,
            "type": "array",
            "description": "Array of keys of key-value pairs to remove.",
            "items": {
              "type": "string"
            }
          },
          "set": {
            "uniqueItems": true,
            "type": "object",
            "description": "Set the key-value pairs. All existing key-value pairs will be removed.",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "key1": "value1",
              "key2": "value2"
            }
          }
        }
      },
      "CogniteInternalIdType": {
        "description": "Javascript friendly internal ID given to the object.",
        "type": "integer",
        "minimum": 1,
        "maximum": 9007199254740991,
        "format": "int64"
      },
      "CogniteExternalIdType": {
        "description": "External Id provided by client. Should be unique within the project",
        "type": "string",
        "maxLength": 255
      },
      "InternalId": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Javascript friendly internal ID given to the object.",
            "type": "integer",
            "minimum": 1,
            "maximum": 9007199254740991,
            "format": "int64"
          }
        }
      },
      "ExternalId": {
        "type": "object",
        "properties": {
          "externalId": {
            "description": "External Id provided by client. Should be unique within the project",
            "type": "string",
            "maxLength": 255
          }
        }
      },
      "DataEvent": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "externalId": {
                      "description": "External Id provided by client. Should be unique within the project",
                      "type": "string",
                      "maxLength": 255
                    },
                    "startTime": {
                      "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                      "type": "integer",
                      "minimum": 0,
                      "format": "int64"
                    },
                    "endTime": {
                      "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                      "type": "integer",
                      "minimum": 0,
                      "format": "int64"
                    },
                    "description": {
                      "maxLength": 500,
                      "type": "string",
                      "description": "Textual description of the event."
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Customizable extra data about the event. String key -> String value."
                    },
                    "assetIds": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 100,
                      "uniqueItems": true,
                      "description": "Asset IDs of related equipments that this event relates to.",
                      "items": {
                        "description": "Javascript friendly internal ID given to the object.",
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 9007199254740991,
                        "format": "int64"
                      }
                    },
                    "source": {
                      "maxLength": 128,
                      "type": "string",
                      "description": "The source of this event."
                    }
                  },
                  "description": "An event represents something that happened at a given interval in time, e.g a failure, a work order etc."
                },
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Javascript friendly internal ID given to the object.",
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 9007199254740991,
                      "format": "int64"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "lastUpdatedTime": {
                      "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                      "type": "integer",
                      "minimum": 0,
                      "format": "int64"
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "DataExternalEvent": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "externalId": {
                  "description": "External Id provided by client. Should be unique within the project",
                  "type": "string",
                  "maxLength": 255
                },
                "startTime": {
                  "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                  "type": "integer",
                  "minimum": 0,
                  "format": "int64"
                },
                "endTime": {
                  "description": "It is the number of seconds that have elapsed since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                  "type": "integer",
                  "minimum": 0,
                  "format": "int64"
                },
                "description": {
                  "maxLength": 500,
                  "type": "string",
                  "description": "Textual description of the event."
                },
                "metadata": {
                  "type": "object",
                  "description": "Customizable extra data about the event. String key -> String value."
                },
                "assetIds": {
                  "type": "array",
                  "minItems": 1,
                  "maxItems": 100,
                  "uniqueItems": true,
                  "description": "Asset IDs of related equipments that this event relates to.",
                  "items": {
                    "description": "Javascript friendly internal ID given to the object.",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 9007199254740991,
                    "format": "int64"
                  }
                },
                "source": {
                  "maxLength": 128,
                  "type": "string",
                  "description": "The source of this event."
                }
              },
              "description": "An event represents something that happened at a given interval in time, e.g a failure, a work order etc."
            }
          }
        }
      },
      "DataEventChange": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "oneOf": [
                {
                  "allOf": [
                    {
                      "type": "object",
                      "description": "Changes will be applied to event.",
                      "properties": {
                        "update": {
                          "type": "object",
                          "properties": {
                            "externalId": {
                              "type": "object",
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "set": {
                                      "type": "string"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "setNull": {
                                      "type": "boolean"
                                    }
                                  }
                                }
                              ],
                              "description": "Removable string change."
                            },
                            "startTime": {
                              "type": "object",
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "set": {
                                      "type": "integer",
                                      "format": "int64"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "setNull": {
                                      "type": "boolean"
                                    }
                                  }
                                }
                              ]
                            },
                            "endTime": {
                              "type": "object",
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "set": {
                                      "type": "integer",
                                      "format": "int64"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "setNull": {
                                      "type": "boolean"
                                    }
                                  }
                                }
                              ]
                            },
                            "description": {
                              "type": "object",
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "set": {
                                      "type": "string"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "setNull": {
                                      "type": "boolean"
                                    }
                                  }
                                }
                              ],
                              "description": "Removable string change."
                            },
                            "metadata": {
                              "type": "object",
                              "description": "Object change",
                              "properties": {
                                "add": {
                                  "uniqueItems": true,
                                  "type": "object",
                                  "description": "key-value pairs to be added. Existing key-value pairs will be kept. If key already exist, the value will be overwritten.",
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "example": {
                                    "key1": "value1",
                                    "key2": "value2"
                                  }
                                },
                                "remove": {
                                  "uniqueItems": true,
                                  "type": "array",
                                  "description": "Array of keys of key-value pairs to remove.",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "set": {
                                  "uniqueItems": true,
                                  "type": "object",
                                  "description": "Set the key-value pairs. All existing key-value pairs will be removed.",
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "example": {
                                    "key1": "value1",
                                    "key2": "value2"
                                  }
                                }
                              }
                            },
                            "assetIds": {
                              "type": "object",
                              "description": "array of objects change",
                              "properties": {
                                "add": {
                                  "uniqueItems": true,
                                  "type": "array",
                                  "items": {
                                    "type": "integer",
                                    "format": "int64"
                                  }
                                },
                                "remove": {
                                  "uniqueItems": true,
                                  "type": "array",
                                  "items": {
                                    "type": "integer",
                                    "format": "int64"
                                  }
                                },
                                "set": {
                                  "uniqueItems": true,
                                  "type": "array",
                                  "items": {
                                    "type": "integer",
                                    "format": "int64"
                                  }
                                }
                              }
                            },
                            "source": {
                              "type": "object",
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "set": {
                                      "type": "string"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "setNull": {
                                      "type": "boolean"
                                    }
                                  }
                                }
                              ],
                              "description": "Removable string change."
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Javascript friendly internal ID given to the object.",
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991,
                          "format": "int64"
                        }
                      }
                    }
                  ]
                },
                {
                  "allOf": [
                    {
                      "type": "object",
                      "description": "Changes will be applied to event.",
                      "properties": {
                        "update": {
                          "type": "object",
                          "properties": {
                            "externalId": {
                              "type": "object",
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "set": {
                                      "type": "string"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "setNull": {
                                      "type": "boolean"
                                    }
                                  }
                                }
                              ],
                              "description": "Removable string change."
                            },
                            "startTime": {
                              "type": "object",
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "set": {
                                      "type": "integer",
                                      "format": "int64"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "setNull": {
                                      "type": "boolean"
                                    }
                                  }
                                }
                              ]
                            },
                            "endTime": {
                              "type": "object",
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "set": {
                                      "type": "integer",
                                      "format": "int64"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "setNull": {
                                      "type": "boolean"
                                    }
                                  }
                                }
                              ]
                            },
                            "description": {
                              "type": "object",
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "set": {
                                      "type": "string"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "setNull": {
                                      "type": "boolean"
                                    }
                                  }
                                }
                              ],
                              "description": "Removable string change."
                            },
                            "metadata": {
                              "type": "object",
                              "description": "Object change",
                              "properties": {
                                "add": {
                                  "uniqueItems": true,
                                  "type": "object",
[...]
