{
  "openapi": "3.0.1",
  "info": {
    "title": "Cognite API",
    "description": "# Introduction\nThis is the reference documentation for the Cognite API with \nan overview of all the available methods.\n\n# Pagination\nMost resource types can be paginated, indicated by the field `nextCursor` in the response.\nBy passing the value of `nextCursor` as the cursor you will get the next page of `limit` results.\nNote that all parameters except `cursor` has to stay the same.\n\n# Parallel retrieval\nIf you want to download a lot of resources (let's say events), paginating through millions of records can be slow.\nWe support parallel retrieval through the `partition` parameter, which has the format `m/n` where `n` is the amount of partitions you would like to split the entire data set into.\nIf you want to download the entire data set by splitting it into 10 partitions, you would do the following in parallel with `m` running from 1 to 10:\n  - Make a request to `/events` with `partition=m/10`.\n  - Paginate through the response by following the cursor as explained above. Note that the `partition` parameter needs to be passed to all subqueries.\n",
    "version": "v1",
    "contact": {
      "name": "Cognite Support",
      "url": "https://support.cognite.com",
      "email": "support@cognite.com"
    }
  },
  "servers": [
    {
      "url": "https://api.cognitedata.com"
    }
  ],
  "paths": {
    "/api/v1/projects/{project}/assets": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "List assets",
        "description": "List all assets, or only the assets matching the specified query.",
        "operationId": "getAssets",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "required": true,
            "description": "The project name.",
            "schema": {
              "type": "string",
              "example": "publicdata"
            }
          },
          {
            "name": "limit",
            "description": "Limits the number of results to be returned. The maximum results returned by the server is 1000 even if you specify a higher limit.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "cursor",
            "description": "Cursor for paging through results.",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "4zj0Vy2fo0NtNMb229mI9r1V3YG5NBL752kQz1cKtwo"
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string",
              "description": "The name of the asset.",
              "minLength": 1,
              "maxLength": 140
            }
          },
          {
            "in": "query",
            "name": "parentIds",
            "description": "List only assets that have one of the parentIds as a parent. The parentId for root assets is null.",
            "example": "[363848954441724, 793045462540095, 1261042166839739]",
            "schema": {
              "uniqueItems": true,
              "minItems": 1,
              "maxItems": 100,
              "type": "string",
              "format": "jsonArray(int64)",
              "example": [
                1238712837,
                238712361376,
                23786237623
              ]
            }
          },
          {
            "in": "query",
            "name": "rootIds",
            "description": "List only assets that have one of the rootIds as a root asset. A root asset is its own root asset.",
            "example": "[363848954441724, 793045462540095, 1261042166839739]",
            "schema": {
              "uniqueItems": true,
              "type": "string",
              "format": "jsonArray(int64)",
              "example": [
                1238712837,
                238712361376,
                23786237623
              ]
            }
          },
          {
            "in": "query",
            "name": "source",
            "schema": {
              "maxLength": 128,
              "type": "string",
              "description": "The source of the asset, for example which database it's from."
            }
          },
          {
            "in": "query",
            "name": "root",
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "Whether the filtered assets are root assets, or not. Set to True to only list root assets."
            }
          },
          {
            "in": "query",
            "name": "minCreatedTime",
            "schema": {
              "description": "The number of milliseconds since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
              "type": "integer",
              "minimum": 0,
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "maxCreatedTime",
            "schema": {
              "description": "The number of milliseconds since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
              "type": "integer",
              "minimum": 0,
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "minLastUpdatedTime",
            "schema": {
              "description": "The number of milliseconds since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
              "type": "integer",
              "minimum": 0,
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "maxLastUpdatedTime",
            "schema": {
              "description": "The number of milliseconds since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
              "type": "integer",
              "minimum": 0,
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "externalIdPrefix",
            "schema": {
              "description": "Filter by this (case-sensitive) prefix for the external ID.",
              "type": "string",
              "maxLength": 255,
              "example": "my.known.prefix"
            }
          },
          {
            "in": "query",
            "name": "partition",
            "required": false,
            "description": "Splits the data set into N partitions.\nYou need to follow the cursors within each partition in order to receive all the data.\nExample: 1/10\n",
            "schema": {
              "type": "string",
              "example": "1/10"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paged response with list of assets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "externalId": {
                                "description": "The external ID provided by the client. Must be unique for the resource type.",
                                "type": "string",
                                "maxLength": 255,
                                "example": "my.known.id"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the asset.",
                                "minLength": 1,
                                "maxLength": 140
                              },
                              "parentId": {
                                "description": "A server-generated ID for the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              },
                              "description": {
                                "type": "string",
                                "description": "The description of the asset.",
                                "maxLength": 500
                              },
                              "metadata": {
                                "type": "object",
                                "description": "Custom, application specific metadata. String key -> String value. Limits: Maximum length of key is 32 bytes, value 512 bytes, up to 16 key-value pairs.",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "source": {
                                "type": "string",
                                "maxLength": 128,
                                "description": "The source of the asset."
                              }
                            },
                            "description": "A representation of a physical asset, for example a factory or a piece of equipment."
                          },
                          {
                            "type": "object",
                            "required": [
                              "id"
                            ],
                            "properties": {
                              "id": {
                                "description": "A server-generated ID for the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "required": [
                              "rootId",
                              "createdTime",
                              "lastUpdatedTime"
                            ],
                            "properties": {
                              "createdTime": {
                                "description": "The number of milliseconds since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "lastUpdatedTime": {
                                "description": "The number of milliseconds since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "rootId": {
                                "description": "A server-generated ID for the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              },
                              "aggregates": {
                                "description": "Aggregated metrics of the asset",
                                "type": "object",
                                "properties": {
                                  "childCount": {
                                    "type": "integer",
                                    "description": "Number of direct descendants for the asset",
                                    "format": "int32",
                                    "minimum": 0
                                  }
                                }
                              }
                            }
                          }
                        ]
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "description": "The cursor to get the next page of results (if available)."
                    }
                  },
                  "description": "A list of objects along with possible cursors to get the next or previous page of results."
                }
              }
            }
          },
          "400": {
            "description": "The response for a failed request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "description": "Cognite API error.",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "HTTP status code.",
                          "format": "int32",
                          "example": 401
                        },
                        "message": {
                          "type": "string",
                          "description": "Error message.",
                          "example": "Could not authenticate."
                        },
                        "missing": {
                          "type": "array",
                          "description": "List of lookup objects that do not match any results.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "duplicated": {
                          "type": "array",
                          "description": "List of objects that are not unique.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-capability": [
          "assetsAcl:READ"
        ],
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "label": "JavaScript SDK",
            "source": "const assets = await client.assets.list({ filter: { name: '21PT1019' } });"
          },
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "asset_list = client.assets.list(limit=5)\nfor asset in client.assets:\n    asset # do something with the asset\nfor asset_list in client.assets(chunk_size=2500):\n    asset_list # do something with the assets\n"
          }
        ]
      },
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Create assets",
        "description": "You can create a maximum of 1000 assets per request.",
        "operationId": "createAssets",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "required": true,
            "description": "The project name.",
            "schema": {
              "type": "string",
              "example": "publicdata"
            }
          }
        ],
        "requestBody": {
          "description": "List of the assets to create. You can create a maximum of 1000 assets per request.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "items"
                ],
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "name"
                          ],
                          "properties": {
                            "externalId": {
                              "description": "The external ID provided by the client. Must be unique for the resource type.",
                              "type": "string",
                              "maxLength": 255,
                              "example": "my.known.id"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name of the asset.",
                              "minLength": 1,
                              "maxLength": 140
                            },
                            "parentId": {
                              "description": "A server-generated ID for the object.",
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 9007199254740991,
                              "format": "int64"
                            },
                            "description": {
                              "type": "string",
                              "description": "The description of the asset.",
                              "maxLength": 500
                            },
                            "metadata": {
                              "type": "object",
                              "description": "Custom, application specific metadata. String key -> String value. Limits: Maximum length of key is 32 bytes, value 512 bytes, up to 16 key-value pairs.",
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "source": {
                              "type": "string",
                              "maxLength": 128,
                              "description": "The source of the asset."
                            }
                          },
                          "description": "A representation of a physical asset, for example a factory or a piece of equipment."
                        },
                        {
                          "type": "object",
                          "properties": {
                            "parentExternalId": {
                              "description": "The external ID provided by the client. Must be unique for the resource type.",
                              "type": "string",
                              "maxLength": 255,
                              "example": "my.known.id"
                            }
                          }
                        }
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 1000
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response with list of assets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "externalId": {
                                "description": "The external ID provided by the client. Must be unique for the resource type.",
                                "type": "string",
                                "maxLength": 255,
                                "example": "my.known.id"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the asset.",
                                "minLength": 1,
                                "maxLength": 140
                              },
                              "parentId": {
                                "description": "A server-generated ID for the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              },
                              "description": {
                                "type": "string",
                                "description": "The description of the asset.",
                                "maxLength": 500
                              },
                              "metadata": {
                                "type": "object",
                                "description": "Custom, application specific metadata. String key -> String value. Limits: Maximum length of key is 32 bytes, value 512 bytes, up to 16 key-value pairs.",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "source": {
                                "type": "string",
                                "maxLength": 128,
                                "description": "The source of the asset."
                              }
                            },
                            "description": "A representation of a physical asset, for example a factory or a piece of equipment."
                          },
                          {
                            "type": "object",
                            "required": [
                              "id"
                            ],
                            "properties": {
                              "id": {
                                "description": "A server-generated ID for the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "required": [
                              "rootId",
                              "createdTime",
                              "lastUpdatedTime"
                            ],
                            "properties": {
                              "createdTime": {
                                "description": "The number of milliseconds since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "lastUpdatedTime": {
                                "description": "The number of milliseconds since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "rootId": {
                                "description": "A server-generated ID for the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              },
                              "aggregates": {
                                "description": "Aggregated metrics of the asset",
                                "type": "object",
                                "properties": {
                                  "childCount": {
                                    "type": "integer",
                                    "description": "Number of direct descendants for the asset",
                                    "format": "int32",
                                    "minimum": 0
                                  }
                                }
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The response for a failed request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "description": "Cognite API error.",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "HTTP status code.",
                          "format": "int32",
                          "example": 401
                        },
                        "message": {
                          "type": "string",
                          "description": "Error message.",
                          "example": "Could not authenticate."
                        },
                        "missing": {
                          "type": "array",
                          "description": "List of lookup objects that do not match any results.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "duplicated": {
                          "type": "array",
                          "description": "List of objects that are not unique.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-capability": [
          "assetsAcl:WRITE"
        ],
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "label": "JavaScript SDK",
            "source": "const assets = [\n  { name: 'First asset' },\n  { name: 'Second asset', description: 'Another asset', externalId: 'anotherAsset' },\n  { name: 'Child asset', parentExternalId: 'anotherAsset'},\n];\nconst createdAssets = await client.assets.create(assets);"
          },
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from cognite.client.data_classes import Asset\nassets = [Asset(name=\"asset1\"), Asset(name=\"asset2\")]\nres = client.assets.create(assets)\n"
          }
        ]
      }
    },
    "/api/v1/projects/{project}/assets/{id}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Retrieve an asset by its ID",
        "description": "Retrieve an asset by its ID. If you want to retrieve assets by externalIds, use Retrieve assets instead.",
        "operationId": "getAsset",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "required": true,
            "description": "The project name.",
            "schema": {
              "type": "string",
              "example": "publicdata"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "A server-generated ID for the object.",
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991,
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response with a single asset.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "name"
                      ],
                      "properties": {
                        "externalId": {
                          "description": "The external ID provided by the client. Must be unique for the resource type.",
                          "type": "string",
                          "maxLength": 255,
                          "example": "my.known.id"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the asset.",
                          "minLength": 1,
                          "maxLength": 140
                        },
                        "parentId": {
                          "description": "A server-generated ID for the object.",
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991,
                          "format": "int64"
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the asset.",
                          "maxLength": 500
                        },
                        "metadata": {
                          "type": "object",
                          "description": "Custom, application specific metadata. String key -> String value. Limits: Maximum length of key is 32 bytes, value 512 bytes, up to 16 key-value pairs.",
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "source": {
                          "type": "string",
                          "maxLength": 128,
                          "description": "The source of the asset."
                        }
                      },
                      "description": "A representation of a physical asset, for example a factory or a piece of equipment."
                    },
                    {
                      "type": "object",
                      "required": [
                        "id"
                      ],
                      "properties": {
                        "id": {
                          "description": "A server-generated ID for the object.",
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991,
                          "format": "int64"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "rootId",
                        "createdTime",
                        "lastUpdatedTime"
                      ],
                      "properties": {
                        "createdTime": {
                          "description": "The number of milliseconds since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                          "type": "integer",
                          "minimum": 0,
                          "format": "int64"
                        },
                        "lastUpdatedTime": {
                          "description": "The number of milliseconds since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                          "type": "integer",
                          "minimum": 0,
                          "format": "int64"
                        },
                        "rootId": {
                          "description": "A server-generated ID for the object.",
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991,
                          "format": "int64"
                        },
                        "aggregates": {
                          "description": "Aggregated metrics of the asset",
                          "type": "object",
                          "properties": {
                            "childCount": {
                              "type": "integer",
                              "description": "Number of direct descendants for the asset",
                              "format": "int32",
                              "minimum": 0
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The response for a failed request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "description": "Cognite API error.",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "HTTP status code.",
                          "format": "int32",
                          "example": 401
                        },
                        "message": {
                          "type": "string",
                          "description": "Error message.",
                          "example": "Could not authenticate."
                        },
                        "missing": {
                          "type": "array",
                          "description": "List of lookup objects that do not match any results.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "duplicated": {
                          "type": "array",
                          "description": "List of objects that are not unique.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-capability": [
          "assetsAcl:READ"
        ],
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "label": "JavaScript SDK",
            "source": "const assets = await client.assets.retrieve([{id: 123}, {externalId: 'abc'}]);"
          },
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "res = client.assets.retrieve(id=1)\nres = client.assets.retrieve(external_id=\"1\")\n"
          }
        ]
      }
    },
    "/api/v1/projects/{project}/assets/list": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Filter assets",
        "description": "Use advanced filtering options to find assets.",
        "operationId": "listAssets",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "required": true,
            "description": "The project name.",
            "schema": {
              "type": "string",
              "example": "publicdata"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "filter": {
                        "type": "object",
                        "description": "Filter on assets with strict matching.",
                        "title": "Filter",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name of the asset.",
                            "minLength": 1,
                            "maxLength": 140
                          },
                          "parentIds": {
                            "description": "Return only the direct descendants of the specified assets.",
                            "type": "array",
                            "items": {
                              "description": "A server-generated ID for the object.",
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 9007199254740991,
                              "format": "int64"
                            }
                          },
                          "rootIds": {
                            "description": "Return all descendants of the specified root assets.",
                            "type": "array",
                            "items": {
                              "oneOf": [
                                {
                                  "type": "object",
                                  "required": [
                                    "id"
                                  ],
                                  "properties": {
                                    "id": {
                                      "description": "A server-generated ID for the object.",
                                      "type": "integer",
                                      "minimum": 1,
                                      "maximum": 9007199254740991,
                                      "format": "int64"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "required": [
                                    "externalId"
                                  ],
                                  "properties": {
                                    "externalId": {
                                      "description": "The external ID provided by the client. Must be unique for the resource type.",
                                      "type": "string",
                                      "maxLength": 255,
                                      "example": "my.known.id"
                                    }
                                  }
                                }
                              ]
                            }
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Custom, application specific metadata. String key -> String value. Limits: Maximum length of key is 32 bytes, value 512 bytes, up to 16 key-value pairs.",
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "source": {
                            "type": "string",
                            "maxLength": 128,
                            "description": "The source of the asset."
                          },
                          "createdTime": {
                            "description": "Range between two timestamps.",
                            "type": "object",
                            "properties": {
                              "max": {
                                "description": "The number of milliseconds since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "min": {
                                "description": "The number of milliseconds since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              }
                            }
                          },
                          "lastUpdatedTime": {
                            "description": "Range between two timestamps.",
                            "type": "object",
                            "properties": {
                              "max": {
                                "description": "The number of milliseconds since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "min": {
                                "description": "The number of milliseconds since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              }
                            }
                          },
                          "root": {
                            "type": "boolean",
                            "description": "Whether the filtered assets are root assets, or not. Set to True to only list root assets."
                          },
                          "externalIdPrefix": {
                            "description": "Filter by this (case-sensitive) prefix for the external ID.",
                            "type": "string",
                            "maxLength": 255,
                            "example": "my.known.prefix"
                          }
                        }
                      },
                      "limit": {
                        "description": "Limits the number of results to return.",
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "maximum": 1000,
                        "default": 100
                      }
                    }
                  },
                  {
                    "description": "Cursor for paging through results",
                    "type": "object",
                    "properties": {
                      "cursor": {
                        "type": "string",
                        "example": "4zj0Vy2fo0NtNMb229mI9r1V3YG5NBL752kQz1cKtwo"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "aggregatedProperties": {
                        "description": "Set of aggregated properties to include",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "childCount"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "partition": {
                        "description": "Splits the data set into N partitions.\nYou need to follow the cursors within each partition in order to receive all the data.\nExample: 1/10\n",
                        "type": "string",
                        "example": "1/10"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paged response with list of assets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "externalId": {
                                "description": "The external ID provided by the client. Must be unique for the resource type.",
                                "type": "string",
                                "maxLength": 255,
                                "example": "my.known.id"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the asset.",
                                "minLength": 1,
                                "maxLength": 140
                              },
                              "parentId": {
                                "description": "A server-generated ID for the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              },
                              "description": {
                                "type": "string",
                                "description": "The description of the asset.",
                                "maxLength": 500
                              },
                              "metadata": {
                                "type": "object",
                                "description": "Custom, application specific metadata. String key -> String value. Limits: Maximum length of key is 32 bytes, value 512 bytes, up to 16 key-value pairs.",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "source": {
                                "type": "string",
                                "maxLength": 128,
                                "description": "The source of the asset."
                              }
                            },
                            "description": "A representation of a physical asset, for example a factory or a piece of equipment."
                          },
                          {
                            "type": "object",
                            "required": [
                              "id"
                            ],
                            "properties": {
                              "id": {
                                "description": "A server-generated ID for the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "required": [
                              "rootId",
                              "createdTime",
                              "lastUpdatedTime"
                            ],
                            "properties": {
                              "createdTime": {
                                "description": "The number of milliseconds since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "lastUpdatedTime": {
                                "description": "The number of milliseconds since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "rootId": {
                                "description": "A server-generated ID for the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              },
                              "aggregates": {
                                "description": "Aggregated metrics of the asset",
                                "type": "object",
                                "properties": {
                                  "childCount": {
                                    "type": "integer",
                                    "description": "Number of direct descendants for the asset",
                                    "format": "int32",
                                    "minimum": 0
                                  }
                                }
                              }
                            }
                          }
                        ]
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "description": "The cursor to get the next page of results (if available)."
                    }
                  },
                  "description": "A list of objects along with possible cursors to get the next or previous page of results."
                }
              }
            }
          },
          "400": {
            "description": "The response for a failed request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "description": "Cognite API error.",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "HTTP status code.",
                          "format": "int32",
                          "example": 401
                        },
                        "message": {
                          "type": "string",
                          "description": "Error message.",
                          "example": "Could not authenticate."
                        },
                        "missing": {
                          "type": "array",
                          "description": "List of lookup objects that do not match any results.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "duplicated": {
                          "type": "array",
                          "description": "List of objects that are not unique.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-capability": [
          "assetsAcl:READ"
        ],
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "label": "JavaScript SDK",
            "source": "const assets = await client.assets.list({ filter: { name: '21PT1019' } });"
          },
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "asset_list = client.assets.list(limit=5)\nfor asset in client.assets:\n    asset # do something with the asset\nfor asset_list in client.assets(chunk_size=2500):\n    asset_list # do something with the assets\n"
          }
        ]
      }
    },
    "/api/v1/projects/{project}/assets/byids": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Retrieve assets",
        "operationId": "byIdsAssets",
        "description": "Retrieve assets by IDs or external IDs.",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "required": true,
            "description": "The project name.",
            "schema": {
              "type": "string",
              "example": "publicdata"
            }
          }
        ],
        "requestBody": {
          "description": "All provided IDs and external IDs must be unique.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "type": "object",
                    "required": [
                      "items"
                    ],
                    "properties": {
                      "items": {
                        "type": "array",
                        "items": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": [
                                "id"
                              ],
                              "properties": {
                                "id": {
                                  "description": "A server-generated ID for the object.",
                                  "type": "integer",
                                  "minimum": 1,
                                  "maximum": 9007199254740991,
                                  "format": "int64"
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": [
                                "externalId"
                              ],
                              "properties": {
                                "externalId": {
                                  "description": "The external ID provided by the client. Must be unique for the resource type.",
                                  "type": "string",
                                  "maxLength": 255,
                                  "example": "my.known.id"
                                }
                              }
                            }
                          ]
                        },
                        "maxItems": 1000,
                        "minItems": 1
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "ignoreUnknownIds": {
                        "description": "Ignore IDs and external IDs that are not found",
                        "type": "boolean",
                        "default": false
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response with list of assets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "externalId": {
                                "description": "The external ID provided by the client. Must be unique for the resource type.",
                                "type": "string",
                                "maxLength": 255,
                                "example": "my.known.id"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the asset.",
                                "minLength": 1,
                                "maxLength": 140
                              },
                              "parentId": {
                                "description": "A server-generated ID for the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              },
                              "description": {
                                "type": "string",
                                "description": "The description of the asset.",
                                "maxLength": 500
                              },
                              "metadata": {
                                "type": "object",
                                "description": "Custom, application specific metadata. String key -> String value. Limits: Maximum length of key is 32 bytes, value 512 bytes, up to 16 key-value pairs.",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "source": {
                                "type": "string",
                                "maxLength": 128,
                                "description": "The source of the asset."
                              }
                            },
                            "description": "A representation of a physical asset, for example a factory or a piece of equipment."
                          },
                          {
                            "type": "object",
                            "required": [
                              "id"
                            ],
                            "properties": {
                              "id": {
                                "description": "A server-generated ID for the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "required": [
                              "rootId",
                              "createdTime",
                              "lastUpdatedTime"
                            ],
                            "properties": {
                              "createdTime": {
                                "description": "The number of milliseconds since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "lastUpdatedTime": {
                                "description": "The number of milliseconds since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "rootId": {
                                "description": "A server-generated ID for the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              },
                              "aggregates": {
                                "description": "Aggregated metrics of the asset",
                                "type": "object",
                                "properties": {
                                  "childCount": {
                                    "type": "integer",
                                    "description": "Number of direct descendants for the asset",
                                    "format": "int32",
                                    "minimum": 0
                                  }
                                }
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The response for a failed request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "description": "Cognite API error.",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "HTTP status code.",
                          "format": "int32",
                          "example": 401
                        },
                        "message": {
                          "type": "string",
                          "description": "Error message.",
                          "example": "Could not authenticate."
                        },
                        "missing": {
                          "type": "array",
                          "description": "List of lookup objects that do not match any results.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "duplicated": {
                          "type": "array",
                          "description": "List of objects that are not unique.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-capability": [
          "assetsAcl:READ"
        ],
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "label": "JavaScript SDK",
            "source": "const assets = await client.assets.retrieve([{id: 123}, {externalId: 'abc'}]);"
          },
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "res = client.assets.retrieve_multiple(ids=[1, 2, 3])\nres = client.assets.retrieve_multiple(external_ids=[\"abc\", \"def\"])\n"
          }
        ]
      }
    },
    "/api/v1/projects/{project}/assets/update": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Update assets",
        "description": "Update the attributes of assets.",
        "operationId": "updateAssets",
        "parameters": [
          {
            "in": "path",
            "name": "project",
            "required": true,
            "description": "The project name.",
            "schema": {
              "type": "string",
              "example": "publicdata"
            }
          }
        ],
        "requestBody": {
          "description": "All provided IDs and external IDs must be unique. Fields that are not included in the request, are not changed.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "items"
                ],
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "allOf": [
                            {
                              "type": "object",
                              "description": "Changes applied to asset",
                              "required": [
                                "update"
                              ],
                              "properties": {
                                "update": {
                                  "type": "object",
                                  "properties": {
                                    "externalId": {
                                      "title": "set",
                                      "type": "object",
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "title": "set",
                                          "required": [
                                            "set"
                                          ],
                                          "properties": {
                                            "set": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        {
                                          "title": "remove",
                                          "type": "object",
                                          "required": [
                                            "setNull"
                                          ],
                                          "properties": {
                                            "setNull": {
                                              "type": "boolean",
                                              "example": true
                                            }
                                          }
                                        }
                                      ],
                                      "description": "Set a new value for the string, or remove the value."
                                    },
                                    "name": {
                                      "title": "set",
                                      "type": "object",
                                      "properties": {
                                        "set": {
                                          "type": "string"
                                        }
                                      },
                                      "description": "Set a new value for the string.",
                                      "required": [
                                        "set"
                                      ]
                                    },
                                    "description": {
                                      "title": "set",
                                      "type": "object",
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "title": "set",
                                          "required": [
                                            "set"
                                          ],
                                          "properties": {
                                            "set": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        {
                                          "title": "remove",
                                          "type": "object",
                                          "required": [
                                            "setNull"
                                          ],
                                          "properties": {
                                            "setNull": {
                                              "type": "boolean",
                                              "example": true
                                            }
                                          }
                                        }
                                      ],
                                      "description": "Set a new value for the string, or remove the value."
                                    },
                                    "metadata": {
                                      "description": "Custom, application specific metadata. String key -> String value. Limits: Maximum length of key is 32 bytes, value 512 bytes, up to 16 key-value pairs.",
                                      "type": "object",
                                      "oneOf": [
                                        {
                                          "title": "set",
                                          "type": "object",
                                          "required": [
                                            "set"
                                          ],
                                          "properties": {
                                            "set": {
                                              "uniqueItems": true,
                                              "type": "object",
                                              "description": "Set the key-value pairs. All existing key-value pairs will be removed.",
                                              "additionalProperties": {
                                                "type": "string"
                                              },
                                              "example": {
                                                "key1": "value1",
                                                "key2": "value2"
                                              }
                                            }
                                          }
                                        },
                                        {
                                          "title": "add/remove",
                                          "type": "object",
                                          "properties": {
                                            "add": {
                                              "uniqueItems": true,
                                              "type": "object",
                                              "description": "Add the key-value pairs. Values for existing keys will be overwritten.",
                                              "additionalProperties": {
                                                "type": "string"
                                              },
                                              "example": {
                                                "key1": "value1",
                                                "key2": "value2"
                                              }
                                            },
                                            "remove": {
                                              "uniqueItems": true,
                                              "type": "array",
                                              "description": "Remove the key-value pairs with the specified keys.",
                                              "example": [
                                                "value1",
                                                "value2"
                                              ],
                                              "items": {
                                                "type": "string"
                                              }
                                            }
                                          }
                                        }
                                      ]
                                    },
                                    "source": {
                                      "title": "set",
                                      "type": "object",
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "title": "set",
                                          "required": [
                                            "set"
                                          ],
                                          "properties": {
                                            "set": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        {
                                          "title": "remove",
                                          "type": "object",
                                          "required": [
                                            "setNull"
                                          ],
                                          "properties": {
                                            "setNull": {
                                              "type": "boolean",
                                              "example": true
                                            }
                                          }
                                        }
                                      ],
                                      "description": "Set a new value for the string, or remove the value."
                                    },
                                    "parentId": {
                                      "type": "object",
                                      "properties": {
                                        "set": {
                                          "description": "A server-generated ID for the object.",
                                          "type": "integer",
                                          "minimum": 1,
                                          "maximum": 9007199254740991,
                                          "format": "int64"
                                        }
                                      },
                                      "description": "Change the ID of the object.",
                                      "required": [
                                        "set"
                                      ]
                                    },
                                    "parentExternalId": {
                                      "type": "object",
                                      "properties": {
                                        "set": {
                                          "description": "The external ID provided by the client. Must be unique for the resource type.",
                                          "type": "string",
                                          "maxLength": 255,
                                          "example": "my.known.id"
                                        }
                                      },
                                      "description": "Change the external ID of the object.",
                                      "required": [
                                        "set"
                                      ]
                                    }
                                  }
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": [
                                "id"
                              ],
                              "properties": {
                                "id": {
                                  "description": "A server-generated ID for the object.",
                                  "type": "integer",
                                  "minimum": 1,
                                  "maximum": 9007199254740991,
                                  "format": "int64"
                                }
                              }
                            }
                          ]
                        },
                        {
                          "allOf": [
                            {
                              "type": "object",
                              "description": "Changes applied to asset",
                              "required": [
                                "update"
                              ],
                              "properties": {
                                "update": {
                                  "type": "object",
                                  "properties": {
                                    "externalId": {
                                      "title": "set",
                                      "type": "object",
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "title": "set",
                                          "required": [
                                            "set"
                                          ],
                                          "properties": {
                                            "set": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        {
                                          "title": "remove",
                                          "type": "object",
                                          "required": [
                                            "setNull"
                                          ],
                                          "properties": {
                                            "setNull": {
                                              "type": "boolean",
                                              "example": true
                                            }
                                          }
                                        }
                                      ],
                                      "description": "Set a new value for the string, or remove the value."
                                    },
                                    "name": {
                                      "title": "set",
                                      "type": "object",
                                      "properties": {
                                        "set": {
                                          "type": "string"
                                        }
                                      },
                                      "description": "Set a new value for the string.",
                                      "required": [
                                        "set"
                                      ]
                                    },
                                    "description": {
                                      "title": "set",
                                      "type": "object",
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "title": "set",
                                          "required": [
                                            "set"
                                          ],
                                          "properties": {
                                            "set": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        {
                                          "title": "remove",
                                          "type": "object",
                                          "required": [
                                            "setNull"
                                          ],
                                          "properties": {
                                            "setNull": {
                                              "type": "boolean",
                                              "example": true
                                            }
                                          }
                                        }
                                      ],
                                      "description": "Set a new value for the string, or remove the value."
                                    },
                                    "metadata": {
                                      "description": "Custom, application specific metadata. String key -> String value. Limits: Maximum length of key is 32 bytes, value 512 bytes, up to 16 key-value pairs.",
                                      "type": "object",
                                      "oneOf": [
                                        {
                                          "title": "set",
                                          "type": "object",
                                          "required": [
                                            "set"
                                          ],
                                          "properties": {
                                            "set": {
                                              "uniqueItems": true,
                                              "type": "object",
                                              "description": "Set the key-value pairs. All existing key-value pairs will be removed.",
                                              "additionalProperties": {
                                                "type": "string"
                                              },
                                              "example": {
                                                "key1": "value1",
                                                "key2": "value2"
                                              }
                                            }
                                          }
                                        },
                                        {
                                          "title": "add/remove",
                                          "type": "object",
                                          "properties": {
                                            "add": {
                                              "uniqueItems": true,
                                              "type": "object",
                                              "description": "Add the key-value pairs. Values for existing keys will be overwritten.",
                                              "additionalProperties": {
                                                "type": "string"
                                              },
                                              "example": {
                                                "key1": "value1",
                                                "key2": "value2"
                                              }
                                            },
                                            "remove": {
                                              "uniqueItems": true,
                                              "type": "array",
                                              "description": "Remove the key-value pairs with the specified keys.",
                                              "example": [
                                                "value1",
                                                "value2"
                                              ],
                                              "items": {
                                                "type": "string"
                                              }
                                            }
                                          }
                                        }
                                      ]
                                    },
                                    "source": {
                                      "title": "set",
                                      "type": "object",
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "title": "set",
                                          "required": [
                                            "set"
                                          ],
                                          "properties": {
                                            "set": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        {
                                          "title": "remove",
                                          "type": "object",
                                          "required": [
                                            "setNull"
                                          ],
                                          "properties": {
                                            "setNull": {
                                              "type": "boolean",
                                              "example": true
                                            }
                                          }
                                        }
                                      ],
                                      "description": "Set a new value for the string, or remove the value."
                                    },
                                    "parentId": {
                                      "type": "object",
                                      "properties": {
                                        "set": {
                                          "description": "A server-generated ID for the object.",
                                          "type": "integer",
                                          "minimum": 1,
                                          "maximum": 9007199254740991,
                                          "format": "int64"
                                        }
                                      },
                                      "description": "Change the ID of the object.",
                                      "required": [
                                        "set"
                                      ]
                                    },
                                    "parentExternalId": {
                                      "type": "object",
                                      "properties": {
                                        "set": {
                                          "description": "The external ID provided by the client. Must be unique for the resource type.",
                                          "type": "string",
                                          "maxLength": 255,
                                          "example": "my.known.id"
                                        }
                                      },
                                      "description": "Change the external ID of the object.",
                                      "required": [
                                        "set"
                                      ]
                                    }
                                  }
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": [
                                "externalId"
                              ],
                              "properties": {
                                "externalId": {
                                  "description": "The external ID provided by the client. Must be unique for the resource type.",
                                  "type": "string",
                                  "maxLength": 255,
                                  "example": "my.known.id"
                                }
                              }
                            }
                          ]
                        }
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 1000
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response with list of assets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "externalId": {
                                "description": "The external ID provided by the client. Must be unique for the resource type.",
                                "type": "string",
                                "maxLength": 255,
                                "example": "my.known.id"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the asset.",
                                "minLength": 1,
                                "maxLength": 140
                              },
                              "parentId": {
                                "description": "A server-generated ID for the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              },
                              "description": {
                                "type": "string",
                                "description": "The description of the asset.",
                                "maxLength": 500
                              },
                              "metadata": {
                                "type": "object",
                                "description": "Custom, application specific metadata. String key -> String value. Limits: Maximum length of key is 32 bytes, value 512 bytes, up to 16 key-value pairs.",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "source": {
                                "type": "string",
                                "maxLength": 128,
                                "description": "The source of the asset."
                              }
                            },
                            "description": "A representation of a physical asset, for example a factory or a piece of equipment."
                          },
                          {
                            "type": "object",
                            "required": [
                              "id"
                            ],
                            "properties": {
                              "id": {
                                "description": "A server-generated ID for the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "required": [
                              "rootId",
                              "createdTime",
                              "lastUpdatedTime"
                            ],
                            "properties": {
                              "createdTime": {
                                "description": "The number of milliseconds since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "lastUpdatedTime": {
                                "description": "The number of milliseconds since 00:00:00 Thursday, 1 January 1970, Coordinated Universal Time (UTC), minus leap seconds.",
                                "type": "integer",
                                "minimum": 0,
                                "format": "int64"
                              },
                              "rootId": {
                                "description": "A server-generated ID for the object.",
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 9007199254740991,
                                "format": "int64"
                              },
                              "aggregates": {
                                "description": "Aggregated metrics of the asset",
                                "type": "object",
                                "properties": {
                                  "childCount": {
                                    "type": "integer",
                                    "description": "Number of direct descendants for the asset",
                                    "format": "int32",
                                    "minimum": 0
                                  }
                                }
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The response for a failed request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "description": "Cognite API error.",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "HTTP status code.",
                          "format": "int32",
                          "example": 401
                        },
                        "message": {
                          "type": "string",
                          "description": "Error message.",
                          "example": "Could not authenticate."
                        },
                        "missing": {
                          "type": "array",
                          "description": "List of lookup objects that do not match any results.",
                          "items": {
                            "type": "object",
[...]
