name: cdf_auth

on:
  push:
    branches: [master]

jobs:
  cdf_auth:
    runs-on: ubuntu-latest
    environment: CD
    name: Update CDF Auth
    strategy:
      fail-fast: false
      matrix:
        cdf_project: ["python-sdk-contributor", "python-sdk-test-prod"]
    container:
      image: cognite/toolkit:0.6.17
      env:
        CDF_CLUSTER: ${{ vars.CDF_CLUSTER_CD }}
        CDF_PROJECT: ${{ matrix.cdf_project }}
        IDP_CLIENT_ID: ${{ vars.IDP_CLIENT_ID_CD }}
        IDP_CLIENT_SECRET: ${{ secrets.IDP_CLIENT_SECRET_CD }}
        IDP_TENANT_ID: ${{ vars.IDP_TENANT_ID_CD }}
        PROVIDER: "entra_id"
        LOGIN_FLOW: "client_credentials"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Build the CDF Groups
        working-directory: scripts/toolkit
        run: cdf build --env ${{ matrix.cdf_project }}
      - name: Update CDF Auth
        working-directory: scripts/toolkit
        run: cdf deploy
