---
name: build

on:
  pull_request:
    branches: [master]

jobs:
  build_and_test_jupyter_pyodide:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Build package using poetry
        run: |
          pip install poetry
          poetry build
      - name: Set up Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: "22"
      - name: Install dependencies
        run: npm install pyodide@0.27.6 # JupyterLite currently using pyodide 0.27.6
      - name: Install cognite-sdk in pyodide environment
        run: |
          whl_file=$(find dist -name "*.whl" | sed 's|^dist/||') # Find the built wheel file, remove dist/ prefix
          echo "Found built wheel file: $whl_file"
          SDK_FILE_PATH=$whl_file \
          PACKAGES="[\"pyodide-http\", \"http://localhost:3000/dist/$whl_file\"]" \
          node scripts/test-pyodide.js
